[2021-02-24 22:21] vcavallo opened #6 "live demo dead link"
https://w.srid.ca/, linked to at https://github.com/srid/emanote#demo appears to be down.

[2021-02-26 16:49] srid commented on #6
Yea, I switched the public zk [back to neuron](https://www.srid.ca/). The private one is still using emanote, of course, but that's only accessible to me.

I can host a demo instance, and then share its directory via syncthing to you, @vcavallo, as well as to @zettelzottel - so you can play with it.  Sounds good? You gotta [install syncthing](https://syncthing.net/) on the computer you plan to edi

[2021-02-26 18:10] zettelzottel commented on #6
Although I have limited time currently I would be interested in getting demo access

[2021-02-26 18:42] vcavallo commented on #6
Don't go out of your way to set that up for my sake, @srid - I had just noticed the dead link and mentioned it here for the sake of helping clean up. I don't need the demo, personally

[2021-03-22 18:10] srid opened #7 "Release 1.0, document, and write a blog post"
Since Emanote is pretty much usable for standard Zettelkasten, just do this.

[2021-05-16 16:00] srid opened #8 "HsYaml -> yaml"
https://www.reddit.com/r/haskell/comments/n2s8yk/monthly_hask_anything_may_2021/gyc3pic/?context=3

[2021-05-19 23:32] srid commented on #8
Done as part of https://github.com/srid/emanote/pull/9

[2021-05-19 23:32] #8 closed, assigned to nobody

[2021-05-19 23:50] srid opened #10 "Obsidian style embed queries"
Like neuron's `z:zettels` but using Obsidian's more general syntax https://help.obsidian.md/Plugins/Search#Embed+search+results

- [x] Simple query by tag
- [x] Query by path
- [ ] Combining sub-queries (AND, OR, negation, grouping; see Obsidian manual) (cf. https://github.com/srid/neuron/issues/358)
- [ ] Backlinks?
- [ ] Folgezettel children & parents: https://github.com/srid/emanote/pull/476
-

[2021-05-20 04:58] srid opened #11 "TOC sidebar"
When rendering Pandoc, provide a way to include table of contents automatically.

Inspiration / Example - https://fs.blog/mental-models/

- [ ] Spec it out. Pandoc filter? How does Obsidian do it? etc.

[2021-05-21 01:56] srid opened #12 "Refactor to be polymorphic over file-type"
- Don't hardcode Markdown filetype
- Treat static files the same as other files (markdown, yaml, rss, etc.)

Depends on https://github.com/srid/ema/issues/35

[2021-05-21 18:01] srid opened #13 "Toggle-able sidebar"
Change the HTML template to improve navigation on mobile. Around here,

https://github.com/srid/emanote/blob/78c9a2cf39d20fd90015e810b6d244cc270df49e/default/templates/layouts/book.tpl#L25-L28

- [ ] In mobile view (where sidebar currently remains always hidden), display the burger menu on top, clicking which toggles the sidebar visibility

Inspiration / example: https://web.dev/learn/css/flexbox/

[2021-05-23 15:57] Mowd opened #15 "Unable to install on macOS"
MacOS 11.3.1
Build from master.

I got the error message during the installation:

[code]

[2021-05-23 21:18] srid opened #16 "Updates are slow on large notebooks"
On a notebook with mere 300 notes, updating a .md file causes several seconds delay in emanote actually updating its own internal state (prior to hot reload). Something gone awry somewhere.

[2021-05-23 21:19] srid commented on #12
Mostly done in https://github.com/srid/emanote/pull/14 - but still need to remove the `Either FilePath` route type.

[2021-05-23 21:21] srid commented on #15
@Mowd What command are you using to install it? `nix-env -if ./default.nix`? I would expect it not to compile so many Haskell packages. FWIW, I use [flakes](https://nixos.wiki/wiki/Flakes#Installing_flakes) - but I'm not entirely sure if that's the reason for what you are seeing. It looks like in your case the pinned nixpkgs is not being used.

[2021-05-23 21:23] srid commented on #16
False alarm! I was updating from the wrong computer; the delay is from syncthing.

[2021-05-23 21:23] #16 closed, assigned to srid

[2021-05-24 00:18] #12 closed, assigned to srid

[2021-05-24 00:23] srid opened #18 "Add a second format (org-mode)"
Now that https://github.com/srid/emanote/issues/12 is done - this should be fairly straightforward to do.

[2021-05-24 03:33] srid opened #19 "Footnotes rendering"
Footnotes don't render properly right now in Emanote. Footnotes are created like this,

[code]

This renders like this which is pretty ugly,

![image](https://user-images.githubusercontent.com/3998/119292818-21158a80-bc1f-11eb-8cbd-d85aaa85edd6.png)

Getting https://edwardtufte.github.io/tufte-css/ to work would be nice.

- Create a TailwindCSS version
- Use it from Heist templates (`markdown.tpl`

[2021-05-24 03:39] srid opened #20 "Allow overriding base URL in CLI"
Emanote's default template hardcodes `<base href="/">` via reading the "/" from `index.yaml` (`templates.baseUrl: /`). The default works in live server. But its value differs in certain deployment environments, like GitHub Pages. We should provide a way to override this when generating the static HTML (i.e., outside of live server).

[code]

Note that this command itself is general, and allows ove

[2021-05-24 03:44] srid opened #21 "Multiple default HTML templates (aka. themes)"
Currently we have exactly one default HTML template at [`./templates`](https://github.com/srid/emanote/tree/master/docs/templates).

Let's move that one level down, such as to make it possible to have multiple template themes as emanote provided defaults:

- `./templates/main/`
- `./templates/neuron/`

We can "select" a template from the .yaml data. For `index.yaml` contains this:

[code]

(https:

[2021-05-24 03:44] srid opened #22 "Neuron-like layout for Emanote"
The layout `note.tpl` should be similar (but improved) to https://neuron.zettel.page and based on [Tailwind](https://tailwindcss.com/).

- [x] Improve layout styling of book.tpl, similar to neuron but not exactly the same (rather an improvement)
- [x] Adapt note.tpl to be based on book.tpl's new style
- [x] #25
- [x] #74 (neuron uses custom fonts)
- [x] Test in https://woke.zettel.page & https://f

[2021-05-24 03:44] Mowd commented on #15
Yes, I use this command: `nix-env -if ./default.nix`.
I'm not familiar with nix, I just use it yesterday by install neuron.
Is there anything I can provide to help you to fix this issue?

[2021-05-24 03:47] srid commented on #15
@Mowd Could you try this meanwhile?

- Enable Flakes, following the "Non-NixOS" instructions here: https://nixos.wiki/wiki/Flakes#Non-NixOS
- Run `nix run github:srid/emanote -- -C /path/to/notes`

Let me know if that works.

[2021-05-24 03:53] srid opened #23 "Raw HTML doesn't work in Markdown"
Bug: add raw HTML to Markdown, and it will render as-is with everything escaped.

Possible culprit:: https://github.com/snapframework/xmlhtml/blob/54463f1691c7b31cc3c4c336a6fe328b1f0ebb95/src/Text/Blaze/Renderer/XmlHtml.hs#L27

This will require a good bit of debugging.

[2021-05-24 03:54] srid opened #24 "WikiLink Embedding - ![[..]]"
Support for https://help.obsidian.md/How+to/Embed+files

- [x] Working prototype for .md and image files (#68)
- [x] Allow specifying note embed layout via Heist .tpl (#75)
- [x] ~~#88~~
- [x] #98
- [ ] Other file types
  - [x] video
  - [x] audio
  - [x] pdf
     - [x] #350
  - [x] Everything else? As code block. For eg., `foo.hs` gets syntax highlighted as haskell. https://github.com/srid/emanot

[2021-05-24 03:55] Mowd commented on #15
The 3rd step gave this error message
[code]

And both  `nix run github:srid/emanote -- -C /path/to/notes` or `nix-env -if ./default.nix` return the same error now.
[code]

[2021-05-24 03:58] srid opened #25 "Folgezettel Uplink Tree"
For rendering https://neuron.zettel.page/uplink-tree

Create and pass this data to the HTML templates.

- [x] ixset + path finding traversal instead of building whole graph
- [x] port neuron HTML/CSS (see [InvertedTree.hs](https://github.com/srid/neuron/blob/master/src/Neuron/Frontend/Widget/InvertedTree.hs)) to Heist template
- [x] treat folders as folgezettel
- [x] handle reverse folgezettel (`#

[2021-05-24 04:03] srid commented on #15
I think you can ignore the 3rd step (that's only for fresh install, IIUC).

So, `nix run github:srid/emanote -- -C /path/to/notes` is error'ing out too? Hmm...

Let me try to build it on macOS via CI and see what happens ...

(By the way, there is a docker image, but hot reload doesn't work on it, given Docker's limitation)

[2021-05-24 04:06] Mowd commented on #15
Full command here:

[code]

[2021-05-24 04:14] srid commented on #15
Just pushed a nixpkgs update to `master` branch of emanote; try again.

(Meanwhile, I'm building on my mac using the previous nixpkgs, to try to reproduce your error)

[2021-05-24 04:23] srid commented on #15
It failed on my mac too :-(

<img width="1134" alt="gg" src="https://user-images.githubusercontent.com/3998/119295956-10b4de00-bc26-11eb-9b3b-a67989449e4d.png">

I think disabling tests for `ap-normalize` might make it work ....

[2021-05-24 04:29] srid commented on #15
You can try this patch, and then run `nix run . -- -C ~/mynotes` in the patched repo ... but then be warned that it will compile a lot of Haskell packages (instead of pulling them from cache).

[code]

A proper fix will have to be done in https://github.com/NixOS/nixpkgs/ as this package is evidently broken on macOS.

[2021-05-24 04:32] srid commented on #15
Okay it finished compiling -- took like 5 minutes on a 2014 MBP -- and runs! @Mowd let me know if that above fixes it for you.

[2021-05-24 04:37] srid commented on #15
https://github.com/NixOS/nixpkgs/pull/124224

[2021-05-24 05:03] Mowd commented on #15
Still unable to success:
With the latest code from master:

[code]

[2021-05-24 16:13] srid commented on #15
At least it got to building Ema itself.

I don't know what the problem here is, sorry. Looks like your macOS linker is tripping up. For some reason, it worked on mine. https://matrix.to/#/#haskell:nixos.org might be able to help.

[2021-05-24 16:51] srid commented on #15
@Mowd If you don't care about hot reload (because Docker doesn't seem to support inotify well) and have Docker installed, then you can try:

[code]

Or, something like this to run the live server (again, hot reload may not work):

[code]

I imagine we might have a solution to the Nix issue by the time emanote gets released officially.

(ema.srid.ca is built using this image: https://github.com/sri

[2021-05-24 17:23] Mowd commented on #15
I removed nix completely and start from scratch, it works now.
1. Follow the instruction of [macOS Installation](https://nixos.org/manual/nix/stable/#sect-macos-installation)
2. Modify [flake.nix](https://github.com/srid/emanote/issues/15#issuecomment-846724060)
3. Run `nix-env -if ./default.nix`
4. Finally you will get a worked emanote.

[2021-05-24 17:28] srid commented on #15
@Mowd Great to hear! Do you remember what was the cause for the previous Nix install to be corrupt? Was Nix installed *differently* that time (if so how)?

[2021-05-24 21:35] srid commented on #19
Another inspiration for footnote styling https://wejn.org/2021/02/urbit-good-bad-insane/

This one squeezes the text column on mobile. Not that bad, but not ideal either.

[2021-05-25 00:28] hi-learn-triz-and-usit commented on #20
Emanote doesn't currently seem to handle command-line args on its own; it seems to just defer to `ema`'s code: https://github.com/srid/emanote/blob/master/src/Main.hs#L24

Are there any other command line arguments we want? Do you have any thoughts on how you would want `emanote` to handle command line arguments? Should I just use https://github.com/srid/ema/blob/master/src/Ema/CLI.hs as a templat

[2021-05-25 00:33] srid commented on #20
@hi-learn-triz-and-usit I was thinking we should be able to write our own top-level optparse-applicative stuff, then compose with `ema`'s `cliParser`  (and `Cli` type).

Something like,

[code]

[2021-05-25 00:36] srid commented on #20
Here's an example. Neuron used to do this, by delegating to Rib's parser,

https://github.com/srid/neuron/blob/ce44eeec9ea7298ee3955618c3f838d281f34ec3/src/Neuron/Zettelkasten/CLI.hs

[2021-05-25 00:38] srid commented on #20
And then we can change emanote's Main to use [`runEmaWithCli`](https://github.com/srid/ema/blob/56abc9fc16c1a04f8c5b7d84d357cc0c7273edee/src/Ema/App.hs#L67) by passing the resulting CliAction from parser.

[2021-05-25 00:40] srid commented on #20
Also, `overrideIndexData` from CLI can be stored in `Model` as well (to be applied in `Meta.getEffectiveRouteMeta`)

[2021-05-25 01:10] Mowd commented on #15
This time I didn't install nixUnstable. Just add `experimental-features = nix-command flakes` in `~/.config/nix/nix.conf`
I think it's the problem because new error message appears after install nixUnstable.

[2021-05-25 01:26] hi-learn-triz-and-usit commented on #23
Slowly going through and learning about `emanote` while ruling out sources of the error. Dropping breadcrumbs here in case someone else wants to pick it up.

Using debug tracing, the following `Note` gets inserted into the model:

[code]

Notably, `RawInline (Format "html") "<b>"` correctly occurs.

Next steps, see how models get rendered.

[2021-05-25 01:46] srid commented on #23
Rendering of Pandoc AST happens in `Heist.Extra.Splices.Pandoc`. The raw HTML node (there are two versions: inline and block) in particular is handled here (the inline one),

https://github.com/srid/emanote/blob/e1a8e59acfd361da403aedfb695dc6d6117ddbcd/src/Heist/Extra/Splices/Pandoc.hs#L187-L190

According to blaze-html's docs, the use of `H.unsafeByteString` should in theory render the HTML witho

[2021-05-25 01:53] srid opened #27 "Pandoc: complete table formatting"
There is a TODO here that should be done

https://github.com/srid/emanote/blob/e1a8e59acfd361da403aedfb695dc6d6117ddbcd/src/Heist/Extra/Splices/Pandoc.hs#L136-L138

Ref: https://github.com/jgm/commonmark-hs/blob/4f7d8b7b37dcc672d46f6bf967afbd47c589e050/commonmark-extensions/test/pipe_tables.md

commonmark-hs doesn't do captions, so we can just apply what's available - like colspecs, etc.

[2021-05-25 02:33] hi-learn-triz-and-usit commented on #23
Tracing line 189 using `(\x -> traceShow (H.renderHtml x) x) $ H.unsafeByteString $ encodeUtf8 s` yields

[code]
So `H.unsafeByteString` seems to be doing what it claims.

The bug seems to be in `RX.renderHtmlNodes`: it turns `RawInline (Format "html") "<b>"` into `TextNode "<b>"`.

[2021-05-25 02:38] hi-learn-triz-and-usit commented on #23
There seems to be a related SO question from years ago: https://stackoverflow.com/questions/19190125/how-can-i-embed-a-raw-html-string-into-a-text-xmlhtml-node-structure

[2021-05-25 03:09] Mowd opened #28 "Wiki link w/ custom text breaks lists formatting"
Wiki link with alternative preview text will cause incorrect rendering in list.

[code]

![image](https://user-images.githubusercontent.com/1097892/119433908-ba40c000-bd49-11eb-880d-f0c245d36e35.png)

[2021-05-25 12:20] hi-learn-triz-and-usit commented on #23
How does neuron handle this, anyway?

[2021-05-25 15:33] srid commented on #15
Just fixed in nixpkgs master: https://github.com/NixOS/nixpkgs/commit/d1f97a0dfb208ec20f982860c5740cd08dd35ef2

Should take about a week before it is made avaialble in the cache, and then we can update emanote and close this issue.

[2021-05-25 16:31] srid commented on #23
~~I don't understand this question. Can you rephrase?~~ EDIT: Oh, you are asking about *neuron*. Neuron uses reflex-dom, and doesn't even use Heist or xmlhtml.

The SO question is a good find,

So would this be a fix for this bug? To add `xmlHtmlRaw` in https://github.com/srid/emanote/blob/e1a8e59acfd361da403aedfb695dc6d6117ddbcd/src/Heist/Extra/Splices/Pandoc.hs#L187-L190 ?

[2021-05-25 22:15] srid commented on #20
Note to self: once https://github.com/srid/emanote/pull/29 gets merged, we would be able to override just about any file -- not only `index.yaml` but Markdown, HTML templates, etc ... via designating whatever the CLI provides as its own layer (at the very end of stack) in union mounting.

(For the purpose of implementing this particular feature that doesn't matter right now, but it is something to

[2021-05-25 23:27] hi-learn-triz-and-usit commented on #23
I haven't been able to get that to work without also wrapping it in a `span` tag, which I don't like, because it results in weird HTML like

[code]

[2021-05-26 01:54] srid opened #30 "Static site generation broken in Nix install"
Regression after last PR merge,

[code]

[2021-05-26 02:51] srid commented on #30
https://github.com/srid/ema/pull/39

[2021-05-26 02:52] #30 closed, assigned to srid

[2021-05-26 14:31] srid commented on #20
@hi-learn-triz-and-usit Actually I'm thinking, this feature can be implemented more *easily* using the union mount feature, because you don't have to write any YAML merge code. It also is simpler to reason about from user point of view (just put deploy specific files in a directory!).

---

[code]

The idea here is that emanote is now given optional extra path arguments, that are then passed to un

[2021-05-26 14:37] srid commented on #20
[code]

Actually it should just be `LocUser FilePath`. However, we break the order assumption ... hmm gotta think.

EDIT: some options available,

- use `LocUser Int FilePath` (where the Ind acts as an index), but that is hackish.
- use https://hackage.haskell.org/package/ordered-containers-0.2.2/docs/Data-Set-Ordered.html

[2021-05-26 15:13] srid commented on #20
This doesn't let the user control the *order* of overlays (we want the deploy overlay to override everything else), so we need to spec a different CLI.

Maybe emanote should dictate the behaviour of `-C` now,

[code]

(Perhaps `-C` should now be called `-L` - for "layer", as it is not about 'change dir' anymore)

[2021-05-26 16:29] srid opened #32 "Add <dl>, <dd> styling to markdown.tpl"
The following Markdodwn

[code]

generates a HTML definition list per [this extension](https://github.com/jgm/commonmark-hs/blob/master/commonmark-extensions/test/definition_lists.md) in use ... but it doesn't look like one (given Tailwind's reset).

Allowing styling this list via the Heist template `pandoc.tpl` like we style, say, `BlockQuote`.

---

[This may be slightly harder, but it will make

[2021-05-26 18:22] srid opened #33 "Default wiki-link text should be note's title"
If the note has a level-1 heading use that (over filename sans ext) as the link inner text. But do so only if level-1 heading comes as the *first* AST node.

(This already works for sidebar links; just not yet for pandoc links).

Of course if the user provides one explicitly (as in, `[[Foo|some text]]`) _always_ use the user-provided one.

[2021-05-26 18:23] hi-learn-triz-and-usit commented on #20
There's a few things I'm not too fond of with this proposed interface, mostly in terms of potential to confuse users:

* `-C .` is not a no-op, just a default, so sometimes it's correct to omit and other times it's not
* Multiple arguments with order mattering is always easy to get wrong and confusing
* Why complicate things with the command line? The primary purpose is to support non-production d

[2021-05-26 18:24] srid commented on #33
Probably should happen here, by looking `Note` from `Model` and then using its title:

https://github.com/srid/emanote/blob/f14704cb56da1c8b5741d08ef92f6b5f18a73bb8/src/Emanote/Template.hs#L122-L146

[2021-05-26 18:26] ranafathi commented on #33
Hi, Sridhar! I would love to give this a try, can you please walk me through more details?

[2021-05-26 18:26] hi-learn-triz-and-usit commented on #33
What is used for determining the link? The file name or the level-1 heading?

[2021-05-26 18:28] hi-learn-triz-and-usit commented on #33
I assume frontmatter is explicitly ignored?

Would it make sense to add an optional explicit title field to the frontmatter?

[2021-05-26 18:38] srid commented on #33
Hi @ranafathi - Sure, happy to ... are you familiar with Haskell? Feel free to drop by in the [Matrix chat](https://app.element.io/#/room/#neuron:matrix.org) for this project.

Link is *always* determined from filename. I don't see why anybody would want to link to using text other than filenames (it would be confusing), but that discussion is outside the scope of this issue.

Neuron does this ...

[2021-05-26 18:43] srid commented on #33
Note that there are two kinds of links here. Markdown links (of which wiki-links are part of) and generated HTML links. I was talking about the former; as for the latter: it is derived from the former (Foo.md -> Foo.html) - but can be overridden using `slug` meta (need to open issue on this), like neuron supports.

[2021-05-26 18:48] srid commented on #33
The default value, which is derived from markdown route, basically replaces ".md" with ".html". But -- in order to obviate setting `slug` for every .md file just to get clean URLs -- I'd like to see sophisticated translations, like lowercasing and converting whitespace to hyphens - but this is not a easy problem, because although you can straightforwardly encode a route to 'clean' URL, it will be

[2021-05-26 19:05] srid commented on #20
I agree the CLI spec so far is not satisfactory or optimal.

For this issue as originally stated, yes. But we are talking about the more general feature here (we might as well split this discussion and move it to a new issue), for which that is just *one* goal. There can be many (under the same overlay-umbrella). For eg., I want to combine my public notes (from elsewhere) to the current private no

[2021-05-27 00:23] hi-learn-triz-and-usit commented on #20
I don't think that adding a new configuration file is any more confusing than adding a command line option. I'm also not sure that adding a configuration file for just one parameter is overkill, nor that it will remain as only one parameter. For example, I could imagine setting parameters in this file and making decisions based on the values of those parameters, such as different headers for the l

[2021-05-27 00:31] srid commented on #20
I'm not sure if you appreciate the power of the overlay system.

The overlay system is *already* in use when you run emanote on your notebook (without arguments). It runs emanote with two layers:

1. Layer 1, https://github.com/srid/emanote/tree/master/default
2. Layer 2, current working directory

The default layer provides the following,

- `index.md`: So when you visit the root of your site, it

[2021-05-27 00:33] srid commented on #20
No, it behaves like Linux's union mount or overlayfs. The layers are independent of each other. Imagine placing botched mirrors on top of one another. What's the view you get on top?  See https://en.wikipedia.org/wiki/Union_mount

[2021-05-27 00:35] hi-learn-triz-and-usit commented on #20
I'm sure that I don't. But you know what they say about great power...

I think it's valuable to consider the most likely use case and design the interface around that, even if the backend is astonishingly powerful.

[2021-05-27 00:42] srid commented on #20
This is exactly how the powerful backend arose (plus, it satisfies other hitherto unimagined uses cases too, as mentioned further above), and in the process I avoided neuron-like code complexity. Good luck implementing these features without the union mount concept; the code will be more complex to deal with (which pain is particularly evident when you come back to it in say one year).

[2021-05-27 00:45] srid commented on #20
Compare the code handling the 'default' layer files (templates, index.yaml) before / after https://github.com/srid/emanote/pull/26

[2021-05-27 00:47] srid opened #35 "Allow specifying additional notebooks in CLI"
Add a way to specify additional notebook paths (they are ultimately "merged" in order).

- [x] Rethink Ema's `-C` argument (chdir behave makes no sense with multiple arguments)
- [x] Implement this issue

---
Proposed CLI:

[code]

_Originally posted by @srid in https://github.com/srid/emanote/issues/20#issuecomment-849043533_

---

Implementation:

Consider extending `fsLayers` based on the paths

[2021-05-27 00:48] srid commented on #20
Closing in favour of #35 (but discussion may continue).

[2021-05-27 00:48] #20 closed, assigned to nobody

[2021-05-27 00:50] hi-learn-triz-and-usit commented on #20
Right. I agree that the backend should be powerful. I think that where I may have a different perspective from you is in how much of that power it is valuable and important to expose directly to the end user. I think that new user-facing features should be as simple as possible while addressing the use case; this requires that we recognize simplicity and that we identify the use case, neither of w

[2021-05-27 00:55] hi-learn-triz-and-usit commented on #35
Why do we prefer files from the right over files from the left? The main functional advantage of that comes up when programmatically constructing the command, but I don't think that's a likely situation; otherwise it's a matter of perspective and aesthetics.

[2021-05-27 00:59] srid commented on #20
Lookup volatility-based decomposition from https://rightingsoftware.org - in particular the House building analogy (here, union mount == electricity).

Try coming up with an alternative design that covers **all** the aforementioned use-cases (and more) that you think is simpler than the layer approach. Arguing is a waste of time right now, at this point (enough has been said).

[2021-05-27 01:07] srid commented on #35
It's the more natural order to me (you stack 'em up on top of another as you read left-to-right; plus the 'common' stuff gets put ahead, and you can create shell aliases easily that way), and I doubt most users would find it non-intuitive (but if they did, it can be changed).

[2021-05-27 01:16] srid commented on #35
contd. from https://github.com/srid/emanote/issues/20#issuecomment-848824175

Option 3: Refactor `Mount.hs` to use `NonEmpty source` instead of `Set source`, and pass this non-empty list all the way from CLI parser. Ensure that `unionMount` retains this order when calling the change handler. Probably the simplest option.

[2021-05-27 01:51] hi-learn-triz-and-usit commented on #20
I don't have a copy of Righting Software handy (it's the first I'm hearing of this book, but I'll definitely look into it). Looking into what I can find online about volatility-based decomposition, it seems to make sense to me. It might be valuable to document this as an explicit part of emanote's design philosophy.

I think we're talking past each other. I _like_ the layer approach in general. My

[2021-05-27 02:01] srid commented on #20
FWIW, I first came across that book about a week or so ago in FP Slack in `#architecture-and-design` (worth discussing there for more on this topic) -- whilst asking about design in general; in the context of having been burned with neuron's code complexity, vowing not to repeat it in emanote -- and I only read the initial few chapters.

See https://github.com/srid/emanote/issues/20#issuecomment-8

[2021-05-27 02:02] srid commented on #20
Not to mention supporting 'hot reload' when any of these files change, including the default location (or in any of the user provided layers, such as the common HTML template themes directory).

[2021-05-27 02:03] hi-learn-triz-and-usit commented on #35
[code]
When _wouldn't_ we want to include public notes and common themes when running `emanote` in `MyPrivateNotes`? Because if the answer is "never", and in fact if it doesn't even make sense to do so (because some links or themes will be broken) shouldn't the first two layers be part of the configuration file of the third layer?

Basically, I'm suggesting that the overlay graph should be express

[2021-05-27 02:08] srid opened #36 "Overlay vs configuration file"
Moved comment from @hi-learn-triz-and-usit at https://github.com/srid/emanote/issues/35#issuecomment-849259087 to here

[code]
When _wouldn't_ we want to include public notes and common themes when running `emanote` in `MyPrivateNotes`? Because if the answer is "never", and in fact if it doesn't even make sense to do so (because some links or themes will be broken) shouldn't the first two layers b

[2021-05-27 02:08] #36 closed, assigned to nobody

[2021-05-27 14:54] hi-learn-triz-and-usit opened #38 "Support note aliases"
See the Obsidian [docs](https://help.obsidian.md/How+to/Add+aliases+to+note) for motivation and suggested syntax.

[2021-05-27 15:37] #38 closed, assigned to nobody

[2021-05-27 22:50] srid opened #40 "Allow customizing styling of broken links"
.. in `.yaml` file.

And add a default styling as well.

[2021-05-28 00:18] #40 closed, assigned to srid

[2021-05-28 01:02] srid commented on #21
This is made ... redundant by the overlay feature. We can still add additional template themes in subdirs without changing any Haskell code. Users will just have to repoint their .yaml to the new theme location.

[2021-05-28 01:02] #21 closed, assigned to nobody

[2021-05-28 19:34] srid commented on #28
Might be related: https://github.com/jgm/commonmark-hs/issues/52

[2021-05-28 22:56] #33 closed, assigned to srid

[2021-05-29 16:59] srid commented on #23
That weird HTML thing you observed might be specific to blaze-html, because using `xmlHtmlRaw` in #43 (which uses xmlhtml directly instead of blaze) doesn't suffer from the same issue.

[2021-05-29 17:03] #23 closed, assigned to srid

[2021-05-29 18:14] srid opened #44 "Add less-boring list item bullets"
Use your CSS / TailwindCSS skills to make list item bullets less boring. Change may happen here:

https://github.com/srid/emanote/blob/78c9a2cf39d20fd90015e810b6d244cc270df49e/default/templates/components/pandoc.tpl#L46-L47

---

Example https://mdc.life/books/how-to-decide/

![image](https://user-images.githubusercontent.com/3998/120080675-15dfb600-c088-11eb-9bc7-a50a04e061f4.png)

![image](https

[2021-05-31 23:46] srid opened #46 "Hot reload is not refreshing image files"
https://github.com/srid/ema/issues/42

One solution to this is to have emanote append all links to static files with a `?t=currenttime`. When the hot reload event is fired for HTML (because an image file got modified), that will have the effect the changing the URL to it, due to the new timestamp query param, and so the browser will have to refresh it after morphdom patches it.

The URL query addi

[2021-05-31 23:49] srid commented on #46
It's probably simpler to achieve this using the new `pandocSpliceWithCustomClass` API from https://github.com/srid/emanote/pull/45

[2021-06-01 22:27] srid commented on #10
See https://github.com/srid/emanote/discussions/48 for ideas / discussion on how Obsidian's own syntax can be extended (either in compatible or incompatible ways).

[2021-06-02 02:44] srid commented on #46
Done in #47 and released to master.

[2021-06-02 02:44] #46 closed, assigned to srid

[2021-06-05 04:29] #28 closed, assigned to nobody

[2021-06-06 16:17] srid opened #53 "Add inline tags support"
`#foo` in Markdown should tag that note with "foo". Equivalent to listing "foo" in "tags" field of YAML frontmatter.

Also allow a way to disable inline tags, maybe on a per-file basis. Some posts may contain excessive `#` in the textual context and it might be annoying to have to escape them all.

[2021-06-07 02:41] #53 closed, assigned to nobody

[2021-06-07 16:02] srid opened #55 "Backlink displays only the first occurrence"
repro https://themotte.zettel.page/corona-vaccine

it doesn't show the 2nd backlink `“I am 2019 Chinese coronavirus vaccine critical (a term I quite prefer to antivax).”`.

![image](https://user-images.githubusercontent.com/3998/121052240-2e3a8980-c788-11eb-8049-2d2b391b6e22.png)

[2021-06-07 22:36] #55 closed, assigned to srid

[2021-06-09 23:40] srid commented on #15
Confirmed to be fixed in latest `master`.

[2021-06-09 23:40] #15 closed, assigned to nobody

[2021-06-10 17:40] srid opened #57 "Support Math in note link titles"
Requested by @bradleyharden

Basically the following note Markdown,

[code]

Should render the Math formula wherever the note title is used (eg: in sidebar, or links).

To test this, you'll need to use either MathJax or Katex JS in here,

https://github.com/srid/emanote/blob/78c9a2cf39d20fd90015e810b6d244cc270df49e/default/index.yaml#L47-L50

To implement this, see #62

[2021-06-10 18:57] #19 closed, assigned to srid

[2021-06-11 01:39] srid commented on #11
Another inspiration, one that embeds ToC in the sidebar itself.

https://www.unisonweb.org/docs/tour

This one looks pretty cool.

EDIT: Looks like the page has changed.

[2021-06-11 04:16] srid commented on #32
https://tailwindui.com/components/application-ui/data-display/description-lists

[2021-06-11 23:18] srid opened #58 "Use WindiCSS in statically generated site (ideally also live-server)"
Instead of twind shim (which use JS) switch to statically compiling the the CSS, using something like WindiCSS, which also gives us interesting features like more colors https://windicss.org/utilities/colors.html

Note: twind has a CLI too, https://github.com/tw-in-js/twind-cli - but I cannot get it working in Nix: https://github.com/srid/tailwind-nix/issues/1

Ultimately -- once the implementatio

[2021-06-11 23:20] srid commented on #58
The following will generate the CSS,

[code]

Then we will have to replace the twind shim with style.css in every HTML file.

[2021-06-12 03:03] srid commented on #58
https://note.ema.srid.ca/ is now using windicss-compiled CSS (no twind shim).

[2021-06-12 13:26] srid opened #60 "Allow page-specific 'description' from Pandoc"
cf. https://frasertweedale.github.io/blog-fp/posts/2021-06-11-hakyll-abstracts.html

So we take a pandoc `Span` node with a particular class ("description") and use that in the generated HTML's `<meta name="description" ...>`. By default (if the user has not specified one), this could be the first paragraph.

Convention over configuration.

(Currently, we have to specify a separate description in

[2021-06-13 21:21] danymat opened #62 "Allow Markdown in title"
Hello, I used neuron until I discovered ema today, and I have some questions, for that I will create specific discussions for each. The first one is this:

- I sometimes use links to a footnote directly in the H1 tag on top of file, like this note:

[code]

The problem is that this note is generated as this:

<img width="993" alt="Capture d’écran 2021-06-13 à 23 19 35" src="https://user-images.git

[2021-06-15 22:31] srid commented on #62
Yea, this can be supported.

Emanote currently strips out the first heading from pandoc, and then substitutes it with its title property (which, in the absence of a level-1 heading, could be derived from filename or frontmatter property).

https://github.com/srid/emanote/blob/002fe8bec5721ed2efe3a62db56e7a226e332651/src/Emanote/View/Template.hs#L123-L124

But I suppose we should track the original

[2021-06-15 22:34] srid commented on #62
Doing this (i.e, using Pandoc AST in note titles) should also automatically cover #57

[2021-06-16 17:56] srid opened #66 "High memory usage on large notebooks"
For this notebook,

[code]

Emanote takes ~4.7GB of resident memory. It takes a while (~1m) to load all these files at startup, and but runs fine afterwards. The `@Index` page is slow to render as well, but that should be addressed by use of sub-index'es as described in https://github.com/srid/emanote/discussions/50

[2021-06-19 01:52] srid opened #69 "mailto: links should not be handled like resource links"
Use `foo@bar.com` in Markdown, and Emanote will render it as a broken link.

Fix: change emanote to be aware of `mailto:` protocol, and ignore handling it.

Potential solution: add another `guard` in here:

https://github.com/srid/emanote/blob/8fb4aa8cfaf097a61b474365a96b19b512a363c2/src/Emanote/Model/Link/Rel.hs#L80-L82

[2021-06-19 01:56] srid opened #70 "Allow setting title in YAML frontmatter"
Note title is inferred from,

1. Level-1 Markdown heading if used, otherwise
2. Filename

In addition, support `title` attribute from the Markdown's YAML frontmatter too, so that it overrides the above two.

Change should possibly happen here:

https://github.com/srid/emanote/blob/8fb4aa8cfaf097a61b474365a96b19b512a363c2/src/Emanote/Model/Note.hs#L100-L103

[2021-06-19 13:09] carliros commented on #69
I see this
[code]
in WikiLinks.hs, line 53.
I think we need to remove that, correct? Because that is being addressed in Rel.hs

Same for line 54. This is repetitive, correct?

[2021-06-19 15:30] srid commented on #69
Resolved by #72

Ah, yes, you are right. Good catch.

[2021-06-19 15:30] #69 closed, assigned to nobody

[2021-06-19 15:32] srid commented on #70
Done in #71

[2021-06-19 15:32] #70 closed, assigned to nobody

[2021-06-19 19:25] srid opened #73 "Allow non-pretty URLs (for Gitlab, etc..)"
Some places like GitLab don't support `.html`-less URLs. Allow disabling prettyfying of URLs in `index.yaml` using a setting like,

[code]

Depends on https://github.com/srid/ema/issues/48 ... then modify `flake.nix` (followed by re-run of bin/run) to use a custom branch of Ema for hacking on Emanote, to implement this feature.

[2021-06-20 15:19] srid opened #74 "Use custom fonts from nixpkgs"
For reference, see https://git.maralorn.de/blog/tree

We can use fonts from one of the nixpkgs [font packages](https://nixos.wiki/wiki/Fonts), and then add its directory as an Emanote layer (in addition to `./default`), treating those fonts as a static file, and linking to them from CSS.

Stretch goal: allow specifying the nixpkgs font in `index.yaml` so the user can pick whatever they want.

[2021-06-21 16:03] #32 closed, assigned to nobody

[2021-06-21 20:15] srid opened #77 "Custom wiki-link text doesn't work if it is same as filename"
1. Create foo.md and add `# Foo Title` to it.
2. In another note, link to it as `[[foo]]` and verify that it appears at "Foo Title".
3. Now use a custom text, as `[[foo|foo]]`, and notice the bug - of nothing changing.

Possible fix: compare with title instead of url in here: https://github.com/srid/emanote/blob/d4e973e8f821a2f921ad8497b425c03cf19dab94/src/Emanote/Pandoc/Filter/Url.hs#L79-L81

[2021-06-22 01:18] srid opened #78 "Render Tasks lists"
The following Markdown,

[code]

currently renders as,

![image](https://user-images.githubusercontent.com/3998/122847635-16115100-d2d6-11eb-9826-e955d327e85e.png)

The checkboxes should be styled like task lists. See https://tailwindcss.com/docs/hover-focus-and-other-states#checked

[2021-06-22 01:23] Beatrix-droid commented on #78
May I work on this issue please?

(EDIT: [user opened spam PR](https://github.com/srid/emanote/pull/80))

[2021-06-22 02:56] srid opened #79 "Improve inline code styling"
The backtick wrapped span's should be styled distinctly. Use https://jonathanlorimer.dev/posts/motivating-laziness.html as inspiration.

![image](https://user-images.githubusercontent.com/3998/122855800-c6398680-d2e3-11eb-8c28-670db097f9c1.png)

Ideally they should be consistent with code block styling (which, incidentally, is defined by prismJS in index.yaml).

Make sure that no _extra_ padding/m

[2021-06-22 20:21] #78 closed, assigned to srid

[2021-06-23 03:07] srid commented on #44
Perhaps this should use #78 's code to render bullets to be consistently in alignment with task checkboxes. Consider a 'mixed' list, where only a subset of items are tasks.

[2021-06-23 18:25] srid opened #81 "Display error when using invalid template variables"
When using non-existant variable in Heist .tpl files, Emanote should warn the user of it, instead of silently failing.

[2021-06-23 20:35] srid opened #82 "Add 'notePath' template variable"
So that users can use it in their HTML templates.

This can be used to link directly to a Markdown source on GitHub (or to provide an "edit URL").

Users can also specify a [template hook](https://github.com/srid/emanote/tree/master/default/templates/hooks) to inject this at a known location in the larger layout ([example](https://github.com/srid/emanote/blob/027d0db5045884666635d00e0d0fb44e9e905f

[2021-06-24 16:04] #62 closed, assigned to nobody

[2021-06-24 16:05] srid commented on #57
@bradleyharden Can you try the latest `master` branch and let me know if this is working or not? It may be glitchy on live-server - but it should reliably work on the generated site.

[2021-06-24 18:36] bradleyharden commented on #57
Yes, it works

[2021-06-24 19:57] #57 closed, assigned to nobody

[2021-06-25 19:32] carliros commented on #77
@srid,

is there a way to disambiguate `[[foo]]` and `[[foo|foo]]` ?

I see that Pandoc Link is defined as
[code]
For example, if we define ex1 as `[[foo|Alternative]]` and ex2 as `[[foo|foo]]` and ex3 as `[[foo]]`,
we get the following instances
[code]

Considering `[Inline]` is the alternative text, example 1 and 2 are correct, but example 3 might be wrong,
I guess that should be empty list ([])

[2021-06-26 01:19] srid commented on #77
@carliros Hmm, I think your idea -- of making the inline an empty list in the 3rd case -- would be better.

Currently, plain wiki-links just automatically fill in the inline with the URL; it happens here (the `CM.str title`):

https://github.com/srid/emanote/blob/4eaed83f7a8d8bcbf922abf56784740e9693b5e4/src/Emanote/Pandoc/Markdown/Syntax/WikiLink.hs#L153

The "fill in" itself happens here:

https:

[2021-06-26 01:21] srid commented on #79
PrismJs is not included in index.yaml by default anymore. https://note.ema.srid.ca/demo/markdown#code-syntax-highlighting

[2021-06-26 01:51] carliros commented on #77
Got it. So, it is a custom syntax for Pandoc! That is cool.
Working on the 3rd approach.

[2021-06-26 02:08] srid commented on #77
Yes, wiki-link is our custom extension on top of Pandoc (implemented as commonmark-hs extension).

We also have one for Twitter-like hashtags: https://github.com/srid/emanote/blob/4eaed83f7a8d8bcbf922abf56784740e9693b5e4/src/Emanote/Pandoc/Markdown/Syntax/HashTag.hs

[2021-06-26 13:40] srid opened #86 "Emanote live-server does not work over HTTPS"
Although typically users use `emanote gen` to generate and serve the static content, some people just spin up `emanote` for its live server and expose it to the outside world through nginx with ssl certs enabled.

This wouldn't work when clicking on links due to Ema's websocket connecting to `ws:/`. A fix for this would go in Ema, here: https://github.com/srid/ema/issues/46

[2021-06-27 12:37] srid opened #87 "Duplicate footnotes when reusing the reference"
If a footnote reference is used more than once, the corresponding footnote (at the bottom) will appear multiple times.

Repro,

[code]

When rendered, "Footnote text" will appear twice in the footnotes list at the bottom.

--

Bug appears to arise from here: https://github.com/srid/emanote/blob/852aad984900b726aec03ee4e35caa3139452a6a/src/Heist/Extra/Splices/Pandoc/Footnotes.hs#L17-L22

[2021-06-27 14:43] srid opened #88 "Allow note embedding in other AST nodes, like `<table>`"
Useful to visually layout multiple notes

[code]

[2021-06-27 14:58] #88 closed, assigned to nobody

[2021-06-27 18:48] srid opened #89 "Add highlighting Markdown extension"
`==Foo *bar*==` should generate `<mark>Foo <em>bar</em></mark>`, with a corresponding `pandoc.tpl` node specifying how to render the `<mark>` node.

We would be implementing https://github.com/jgm/commonmark-hs/issues/61 - but without necessarily changing pandoc AST.

1. [x] Find out how to approach this in Emanote (ie. with no special pandoc AST node for this syntax; see HashTag extension for ref

[2021-06-28 13:29] srid commented on #73
This got fixed in https://github.com/srid/emanote/pull/90

[2021-06-28 13:29] #73 closed, assigned to nobody

[2021-06-28 15:45] #35 closed, assigned to srid

[2021-06-28 16:11] srid commented on #35
Usage, https://github.com/srid/emanote/commit/62b7503dc27267fe45c27d26e87b6e4da4189acc

[2021-06-28 20:30] #77 closed, assigned to nobody

[2021-06-29 15:08] srid opened #93 "Footnote links are broken"
Go to https://www.srid.ca/carnivore-diet and click on any of the footnote numbers. It just redirects to the index page, like: `https://www.srid.ca/#fn3`

The generated HTML looks correct,

[code]

So what is the issue?

[2021-06-29 15:12] srid commented on #93
Potential solution (apparently, this happens because we use `<base>` tag),

[code]

https://stackoverflow.com/questions/8108836/make-anchor-links-refer-to-the-current-page-when-using-base

This just might also make footnote links work in live-server (currently they don't).

---

Implementation may go here: https://github.com/srid/emanote/blob/0d6e684a58f4fbca468f9d73aaa8989f455c470a/default/templa

[2021-06-29 21:31] #93 closed, assigned to nobody

[2021-07-01 12:50] srid opened #98 "Allow inline embedding images"
The following works,

[code]

But the following does not,

[code]

See https://github.com/srid/emanote/discussions/97 for background

[2021-07-01 14:24] #89 closed, assigned to nobody

[2021-07-01 16:04] srid opened #99 "List bullets are out of alignment in complex items"
_Originally posted by @xygn in https://github.com/srid/emanote/discussions/97#discussioncomment-950194_

[2021-07-01 16:05] srid commented on #44
This should done together with #99, as one solution for both.

[2021-07-01 16:24] xygn commented on #99
[Generated HTML file](https://github.com/xygn/Notes/blob/gh-pages/C-Notes/Core/Pathology/Systemic/2.%20Inflammation.html)

[Source files](https://github.com/xygn/Notes)

[2021-07-02 01:34] srid commented on #99
Also happens when using tasklists and the list item overflows to next line,

![image](https://user-images.githubusercontent.com/3998/124207713-1cf94a00-dab4-11eb-889c-f29029c2fd84.png)

[2021-07-02 15:38] #79 closed, assigned to nobody

[2021-07-02 15:42] #87 closed, assigned to nobody

[2021-07-02 16:18] srid commented on #13
Perhaps we should make the burger menu visible on desktop as well, allowing (momentary) hiding of sidebar to get more width for main content. https://rust-lang.github.io/mdBook/index.html does this.

[2021-07-02 19:04] carliros commented on #99
Digging into this issue, looks like this is a pandoc formatting issue. I notice the issue is happening when there are two bullet lists separated by an empty line. When that happens, it is adding some paragraphs on list items.

For example:
[code]

The generated code is this
[code]

Those paragraphs are causing the alignment issue.

But, if we add some text to make sure that second list is a diffir

[2021-07-02 19:15] carliros commented on #99
Another workaround to have two continuous list would be to use a different bullet symbol, like this:

[code]

That will work just fine as well.

[2021-07-02 20:28] srid commented on #99
That's one trigger for this bug, yes. To address that, perhaps we can do a special case check for bulletlist item with exactly one `Para` and convert that to `Plain` before rendering. Out of curiosity, I wonder how pandoc's (or commonmark's) own HTML writer deals with it.

The other trigger is the HTML generated by task lists: https://github.com/srid/emanote/issues/99#issuecomment-872650108 ... on

[2021-07-03 23:42] srid commented on #58
Done.

After running `emanote gen /tmp/output` just run `/tmp/output/_emanote-bin/compile-css` to compile CSS (replacing twind shim). Requires Docker to be installed.

Existing CI change: https://github.com/srid/emanote-template/commit/74c8fe584f6f087563af1eec39ecb745804bfcc9

https://github.com/srid/emanote-template now uses this.

[2021-07-03 23:42] #58 closed, assigned to srid

[2021-07-04 16:44] srid opened #102 "Full-text search query"
Now that we have #324, enable access to it from the query feature. The following,

[code]

... should list all notes containing 'some text'. Inspired by Obsidian.

See https://github.com/srid/emanote/discussions/48#discussioncomment-955314

We could piggyback on https://github.com/EmaApps/emanote/issues/338 to implement this.

[2021-07-05 17:48] carliros commented on #99
I just see commonmark-pandoc does the same as your suggestion!

https://github.com/jgm/commonmark-hs/blob/344d380edc1f44ab476d176050263b92d9bfd411/commonmark-pandoc/src/Commonmark/Pandoc.hs#L160

[2021-07-05 18:54] carliros commented on #99
I added the PR for converting Para into Plain.

I am not sure how to do the other part for list styles using flexbox.

[2021-07-07 18:22] #99 closed, assigned to nobody

[2021-07-07 22:19] #44 closed, assigned to nobody

[2021-07-08 18:30] carliros commented on #98
@srid
I've been reviewing it, do you think it is a good idea to add the change on Embed.embedWikiLinkResolvingSplice ?
I saw that it recognize a `Para[Link {..}]` only, I think we can change that to verify if there is some Link in the Blocks of Para, and then create the slices for each Link... do you think it is a good idea?

[2021-07-08 20:12] srid commented on #98
No, but consider that there are two renderers:

- `PandocBlockRenderer` (Renderer/Embed.hs uses this)
- `PandocInlineRenderer` (Renderer/Url.hs uses this)

The solution here is to make the image embed renderer use `PandocInlineRenderer`, but leave the note embedding to use `PandocBlockRenderer`. So Embed.hs can just expose two functions:

- `embedInlineWikiLinkResolvingSplice` (deals with images,

[2021-07-08 20:14] srid commented on #98
By the way, feel free to take a stab it. It is a good feature task to take your Emanote contribution to 'next level'. :-)

[2021-07-11 15:10] srid commented on #86
Should be fixed by the above commit; re-open if not.

[2021-07-11 15:10] #86 closed, assigned to nobody

[2021-07-16 15:52] vcavallo commented on #10
Just registering my extreme excitement at the prospect of emanote reproducing much of obsidian's querying. I've started to really rely on obsidian's queries and then miss them a lot when I head over to my published ema/neuron site.

[2021-07-16 15:57] srid commented on #10
Tangential thing to think about: can we go from embed queries to general queries? cf. https://github.com/srid/emanote/discussions/106

[2021-07-20 13:08] srid opened #110 "Better footnotes UX"
Currently, footnotes are rendered very basically. See a demo here: https://note.ema.srid.ca/demo/markdown

We could spice things up here. For inspiration, see https://jamesclear.com/first-principles

Could use JavaScript for this work. Should be [accessible](http://kb.daisy.org/publishing/docs/html/roles.html), and work on mobile.

[2021-07-20 20:18] vcavallo opened #111 "Crash when navigating to ambiguous note links"
Added after: **After re-reading this and testing some more I think the issue is actually: "having any file with a slug that is the inferred path of another file"**.

----

In the error log below, the file `literature-notes/__literature-notes-index` has the following yaml frontmatter:

[code]

[code]

**Describe the bug**

While running the dev server, navigating to an ambiguous "directory index" p

[2021-07-21 14:39] carliros commented on #13
I like that rust page, it will definitely provide more space. I also how they let the user change themes for the page. I would like that to be added as well.

[2021-07-21 16:02] srid commented on #111
A solution here is: instead of crashing the request (with Haskell's `error`), it should just serve a nice error page HTML showing the "Ambiguous notes" message (but don't generate when doing static-site generation).

EDIT: This should also apply for ambiguous wiki-links.

[2021-07-22 02:08] vcavallo commented on #24
I propose adding an item to the checklist above:

- [ ] Allow embedding a specific subset _block_ of a file.

For instance, the `## Some Section` H2 heading and all text until next section. Obsidian's syntax is basically: `![[filename#Some Section]]`

Obsidian supports this and it would be great to have parity between Obsidian editing and Emanote's rendered results.

[2021-07-22 16:23] #98 closed, assigned to nobody

[2021-07-22 17:06] srid commented on #110
Tip: code for this would go here:

https://github.com/srid/emanote/blob/b04c725e8b70801e5abed2a549e58470b61b3f9d/default/templates/components/pandoc.tpl#L54-L77

[2021-07-22 18:37] carliros commented on #13
@srid,
in order to have something similar to that Rust page, we will need some restructure on our templates
1. Create a top nav bar to contain the icon to show/hide sidebar
2. Attach in current page title the icon to show/hide sidebar

Another alternative would be to attach this show/hide button in the breadcrumb that is show only in small screens.

What do you think about this?

[2021-07-22 19:51] srid commented on #13
@carliros I'd start with a "minimum viable product" that basically works, even if it will look ugly. So I'd say that the alternative approach (of piggybacking on breadcrumbs) would be a good start.

This would involve JavaScript right? Once we have the basic user interaction (UX) working, we can tweak the CSS/HTML design later (and see how the UI can be integrated on desktop view and the neuron vi

[2021-08-08 03:40] srid commented on #25
Done, https://note.ema.srid.ca/demo/neuron-layout

Example, https://www.srid.ca/rust-nix

[2021-08-08 03:40] #25 closed, assigned to srid

[2021-08-08 03:41] srid commented on #22
This is now completed.

There won't be a z-index, however ... for that, see https://github.com/srid/emanote/discussions/50

[2021-08-08 03:41] #22 closed, assigned to nobody

[2021-08-08 05:14] RoyiAvital commented on #21
The feature is great.
Is there a theme to replicate Neuron style?

Namely to generate a site which looks as it was generated by Neuron (Which I really like its style)?

[2021-08-08 13:24] srid commented on #21
@RoyiAvital See https://note.ema.srid.ca/demo/neuron-layout

[2021-08-08 14:27] RoyiAvital commented on #21
This is nice!
Any option for the whole site to look like it used to be with Neuron?

[2021-08-08 14:30] Coda-Coda opened #113 "Custom Text for Zettels does not work well within a Markdown Table"
Firstly, thank you so much for the awesome work with emanote - the live rendering is VERY COOL to work with.

**Describe the bug**
Custom Text for Zettels does not work well within a Markdown Table. The table ends up rendering incorrectly.

**To Reproduce**
Steps to reproduce the behavior:
1. Create test.md
2. Create test2.md
3. Add the following to test2.md
[code]
4. The first table will render c

[2021-08-08 14:37] srid commented on #21
No, but if you have specific style suggestions for Emanote to adopt from Neuron, you can propose them here: https://github.com/srid/emanote/discussions

[2021-08-08 14:43] chris-sanders commented on #113
I was just noticing this same thing. Obsidian solved this by allowing an escape character before the pipe. I don't love how that looks but it might be the most compatible solution.

[2021-08-08 14:48] srid commented on #113
I think this is an unavoidable limitation of Markdown's [table extension](https://github.github.com/gfm/#tables-extension-). You can workaround it by escaping the `|` in the wiki-link using backslash (`\`).

ie.

[code]

[2021-08-08 14:48] #113 closed, assigned to nobody

[2021-08-08 23:11] chris-sanders opened #114 "Option for link reference style for ZK LSP support"
**Describe the bug**
Currently using ZK as a LSP with Emanote I'm finding that the wikilink and markdown syntax for file paths are incompatible. Would be nice to have support across the two.

Emanote:
 * Wikilink: [[notes/my note|My Title]]
 * Markdown: \[My note](notes/my%20note.md)

Zk:
 * Wikilink: [[../notes/my note|My Title]]
 * Markdown: \[My title](../notes/my%20note) optional .md, optional

[2021-08-08 23:18] #114 closed, assigned to nobody

[2021-08-13 16:44] srid opened #118 "Printer-friendly design"
Style various elements so that they are print-friendly when printed or converted to PDF.

Ref,
- https://tailwindcss.com/docs/breakpoints#styling-for-print
- https://windicss.org/utilities/variants.html#raw-media-queries

Example changes to apply when in print screen mode,
- Hide the uplink tree
- Remove title background
- Fix poor code block contrast

We should try to avoid having to create and m

[2021-08-18 01:36] Coda-Coda opened #119 "<div></div> cannot used in raw HTML"
**Describe the bug**
Placing a `<div></div>` inside a block using ```{=html} in a emanote markdown file causes the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create the following markdown file
[code]
(Without the slash, GitHub's markdown makes the slash necessary).

2. Run `emanote`

**Expected behavior**
The page renders two Hello Worlds.

**Desktop (please com

[2021-08-19 20:42] srid commented on #119
Oddly this happens only for `div` tag.  Any other tag will work. For example this works (no need to wrap in code block either),

[code]

[2021-08-19 20:44] srid commented on #119
If you manage to get this working with Emanote (try with `section` or `<span class="block">` instead of `div`), we can add it to [the Tips section](https://note.ema.srid.ca/tips) for the benefit of others (myself included)!

[2021-08-20 11:40] Mohib834 commented on #110
Hi @srid, I would like to work on this one.

[2021-09-04 19:42] srid commented on #18
Consider asciidoc once [the Haskell library](https://github.com/gmarpons/asciidoc-hs) is ready.

[2021-09-09 22:00] #13 closed, assigned to nobody

[2021-09-13 00:19] haoyun opened #125 "Encoding issues in Nix install unless `LC_ALL` is set"
**Describe the bug**
I have a markdown file with file name in CJK characters.
The generated html has name `������.html`. Also in terminal,
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. newly created project folder with only one file: `测试.md`
2. run `emanote`

**Expected behavior**
In terminal and browser, Chinese characters should be properly displayed.

**Desktop (please complete t

[2021-09-13 14:30] srid opened #126 "Editing a template with bad HTML breaks Emanote until restarted"
[code]

[2021-09-13 14:40] srid commented on #125
It works for me:

![image](https://user-images.githubusercontent.com/3998/133103837-7434e1c8-d039-45fb-bd75-047bb0485dec.png)

![image](https://user-images.githubusercontent.com/3998/133103902-8a3d8137-46d4-4476-8b29-e5363b327e43.png)

![image](https://user-images.githubusercontent.com/3998/133104419-9ffc5f6b-5086-4c53-8775-66e1e11b60c3.png)

---

But I wonder what we can do here to make it behave

[2021-09-13 15:25] srid commented on #126
Root cause: Ema's `error` handling doesn't work. Minimal repro: apply this patch and open the site:

[code]

Looks like the exception is *escaping* [renderCatchingErrors](https://github.com/srid/ema/blob/efc47f95299e8f528310e297f517e28af2bc7db6/src/Ema/Server.hs#L82) without being caught by it (the function is designed to catch 'em all)

[2021-09-13 16:48] #126 closed, assigned to srid

[2021-09-13 16:49] srid commented on #126
That PR uses these commits from Ema,

- https://github.com/srid/ema/commit/2651ccef1b01b33dfa1d48fd4ee7fe5e07240077
- https://github.com/srid/ema/commit/44bb5729b906ca002bdfaef8357af02b68d8af44

It is sort of a workaround -- we expose Ema's error response function (so the user app can manually report errors), but ideally Ema should be handling all errors from user app.

[2021-09-13 17:18] srid commented on #111
This is related to #126

[2021-09-13 17:27] haoyun commented on #125
Thanks for the information. With `LC_ALL=C.UTF-8`, it works.

Then it seems to be a nix problem. It reminds me of a similar problem with hledger https://github.com/simonmichael/hledger/issues/1033#issuecomment-497940396.

[2021-09-13 17:29] srid commented on #125
Could you paste the output of `env | grep LC` and `env | grep LANG`? Just curious what your user environment already defines.

[2021-09-13 17:35] haoyun commented on #125
[code]

[2021-09-13 20:12] srid commented on #125
Probably related: https://github.com/srid/neuron/issues/381

The only pending question I guess is whether Emanote should set `LOCALE_ARCHIVE` as part of its nix derivation.

[2021-09-13 22:02] srid opened #129 "Links to static files should open in a new tab"
Clicking on a link to a static file (sometimes generated from wikilinks like `[[Foo.pdf]]`) should open it in a new browser tab. Use `target=_blank`.

(This is to workaround the back button being broken in Ema view).

Related: #136

[2021-09-14 22:06] #111 closed, assigned to nobody

[2021-09-16 15:49] j-steinbach opened #132 "Nix flake show: error: a 'x86_64-darwin' with features {} is required to build ...-emanote.drv'"
**Describe the bug**

When trying to either show or include the flake in my NixOS system, I get the following error:

`error: a 'x86_64-darwin' with features {} is required to build '/nix/store/asl9s2l82lxah6q5vx2n476zq5s8s3h9-cabal2nix-emanote.drv', but I am a 'x86_64-linux' with features {benchmark, big-parallel, kvm, nixos-test}.`

**To Reproduce**

Run `nix flake show "github:srid/emanote"`on

[2021-09-16 16:15] srid commented on #132
Hmm, fwiw I have no issues using this flake on my nixos-config:

https://github.com/srid/nixos-config/blob/f70e13b40a88f2d5fbbf0dcb43d8b5db40271966/flake.nix#L18

I simply refer to it as `inputs.emanote.outputs.defaultPackage.${system};` (is this not how one refers to the flake?)

https://github.com/srid/nixos-config/blob/f70e13b40a88f2d5fbbf0dcb43d8b5db40271966/home.nix#L6

I don't know what the

[2021-09-16 18:15] j-steinbach commented on #132
Haha, guess that makes us two :+1:

Actually I have no idea. I just took a look at the Neuron and Emanote documents and the Nixos Wiki but couldn't find a clear, understandable answer -- so I went with my gut. This is also why I mentioned the `nix flake show` error first -- that one is independent of my config.

As I am currently starting at a few other dumpster fires in my own config (you really

[2021-09-16 18:15] #132 closed, assigned to nobody

[2021-09-16 20:41] srid commented on #119
@Coda-Coda Do you have the HTML snippet for activating Argdown on code blocks on the HTML generated by Emanote? I can give it and try and make it work.

I can't figure out just from the Argdown docs as to what the raw embed code should be (it only talks about specific static site generators).

[2021-09-20 01:36] srid opened #134 "Improve handling of directory renames / moves"
Emanote (via `Ema.Helper.FileSystem`) does not handle renames and moving of directories as we would expect ... thus requiring the user to restart `emanote` when these things happen. Instead, we should automate it. Either by handing the updated files recursively (error prone?) or by restarting the internal model state tracker ourselves.

[2021-09-21 12:44] srid commented on #134
Even **file** moves (`mv foo.md bar/qux/foo.md`) can lead to inconsistent internal state, leading to errors like this:

[code]

[2021-09-21 14:55] srid opened #136 "Add icon to non-wiki links"
### Discussed in https://github.com/srid/emanote/discussions/135

<div type='discussions-op-text'>

<sup>Originally posted by **j-steinbach** September 21, 2021</sup>
This might be a customizable HTML/CSS thing, but Emanote should add icons to local and external links.

Benefits:
- I see exactly which link leads to an internal note/node that holds a meaningful conversation and which I can edit and

[2021-09-22 18:34] j-steinbach opened #145 "Invalid option `-C`"
**Describe the bug**

 `emanote -C . gen /tmp/output/` fails with `Invalid option `-C'`:

[code]

**To Reproduce**

The "Install and Use" section of the Emanote Readme commands me to do:

[code]

The first part works, but the `emanote -C . gen /tmp/output/` fails with `Invalid option `-C'`.

**Expected behavior**

I expect the `emanote` command not to fail and instead do whatever it is supposed to

[2021-09-22 19:11] #145 closed, assigned to nobody

[2021-09-23 16:43] srid opened #146 "Finalize HTML templates"
- [ ] Remove confusion surrounding `ema:metadata` vs `ema:note:metadata`. https://github.com/srid/emanote/discussions/131#discussioncomment-1375548
- [ ] Clean up pandoc.tpl https://github.com/srid/emanote/blob/d326abe35309548b321c294663058825f97eed72/default/templates/components/pandoc.tpl#L98
- [ ] Split pandoc.tpl? https://github.com/srid/emanote/discussions/154#discussioncomment-1383536
- [ ]

[2021-09-23 23:53] srid commented on #134
Relevant on the `fsnotify` side: https://github.com/fsnotify/fsnotify/issues/26

[2021-09-24 01:15] srid commented on #134
1a8e922270cf5f931bbbaf96479adc7cd4b7cace should be good enough for now.

[2021-09-24 01:15] #134 closed, assigned to srid

[2021-09-24 01:27] srid opened #148 ""attempt to encode a non-existance note route" when moving files"
**File** moves (`mv foo.md bar/qux/foo.md`) can lead to inconsistent internal state, leading to errors like this:

[code]

_Originally posted by @srid in https://github.com/srid/emanote/issues/134#issuecomment-923950637_

---

Note that the remount suggestion should solve it, but currently remounts happen only on folder events - not "file moves".

---

- [x] Gracefully handle the bug trigger avoid

[2021-09-24 02:37] #148 closed, assigned to nobody

[2021-09-24 16:39] srid opened #150 "Uptree incorrectly incorporates ambiguous notes"
If `Projects.md` and `Sites/Public/Projects.md` both exists, a note like `Projects/Foo.md` gets put under `Sites/Public/Projects/` in the uptree view for that note.

[2021-09-24 19:42] srid commented on #150
Not a bug. `Sites/Public/index.md` has a folgezettel link, `[[Projects]]#`.

[2021-09-24 19:42] #150 closed, assigned to nobody

[2021-09-24 22:24] srid opened #151 "Review, and document, note listing ordering"
In sidebar, index, query listing and backlinks.

- `.timeline` query in particular should be sort by date
- calendar children shoiuld be sorted by name (thus day), just as other notes?

[2021-09-24 22:25] srid opened #152 "Add unit tests"
- URL parsing (.md and wiki-links) and route encoding/decoding
- Metadata overriding
- Generated HTML is valid https://github.com/srid/emanote/discussions/217
- ...

See also: [reported bugs](https://github.com/srid/emanote/issues?q=label%3Abug+)

[2021-09-24 22:42] srid opened #153 "Official release"
Emanote is currently in beta. It is time to cut the first public release.

- [x] WIP -> Beta
- [ ] Finish [milestone tasks](https://github.com/srid/emanote/milestone/3)
- [x] Complete documentation
  - HTML templates
  - Layers
- [x] Release dependent libraries to Hackage
  - [x] heist (as a fork package, due to upstream being unmaintained)
  - [x] tagtree
  - [x] https://github.com/well-typed/ixs

[2021-09-26 15:02] srid commented on #153
Not gonna bother with static builds, because we still have to figure out a way to distribute default layer along with it (cf. #156). Let package managers worry about it. We'll make emanote available on Hackage, so a simple 'cabal install emanote' would work (as long as non-Haskell dependencies, like tailwind, are installed).

[2021-09-26 15:56] #129 closed, assigned to srid

[2021-10-01 00:33] srid opened #159 "Add home-manager module"
Using https://github.com/srid/neuron/pull/662 as inspiration.

[2021-10-01 00:36] srid commented on #159
FWIW, I use the global systemd config in nixos to run emanote

https://github.com/srid/nixos-config/blob/5f4708b35cc1384665aaed023c7dbf88d58b3442/features/ema/emanote.nix

[2021-10-03 17:37] srid opened #161 "Expose JSON dump of notebook metadata"
Add `emanote export` so as to be able to export a JSON dump of the graph metadata (including backlink contexts, if requested) of the notebook.

(This would be analogous to `neuron query -g`)

Consider implementing `emanote gen --with-export` so that the dump is generated in the static site as well.

[2021-10-06 22:24] edrex opened #168 "Wikilinks of the form [[Page#Heading]] have no text in output"
Obsidian-style `[[Page#Heading]]` links end up with empty body text:

[code]
so they aren't visible in the rendered document.

Seems like a bug, with the desired behavior depending on whether these heading links should be supported.

1. As an initial fix, maybe just keep the text as-is, optionally stripping the `#fragment-id` (heading ids are transformed from `Heading Text` => `heading-text` in th

[2021-10-06 22:59] srid commented on #168
See https://github.com/srid/emanote/discussions/105

[2021-10-08 21:08] edrex commented on #161
i'm plotting a command-line wiki refactoring tool (ops like rename/move with link rewriting, subgraph-based wiki splitting, document format linting), and access to emanote's link graph would be interesting.

[2021-10-08 21:38] srid commented on #161
For those looking to implement this, my initial thought is that we *essentially* only need to convert these three fields in the model to JSON:

https://github.com/srid/emanote/blob/149774c7d0bce92f2a55d32e9834ab5812fc9cb9/src/Emanote/Model/Type.hs#L46-L48

(The first provides the notes themselves, including the parsed Pandoc AST; the second provides the relationships between notes; the third provi

[2021-10-09 14:12] srid opened #171 "Markdown errors are reported in console, but ignored in web interface"
[code]

Any syntax issue with YAML is displayed in the console. But ideally they should be displayed in the live server's web interface as well (instead, currently, the stale note -- prior to malformed yaml -- is displayed, leading to confusion).

[2021-10-09 14:28] srid commented on #171
This happens even for tag parser errors (see #172),

[code]

(though in this case there is a flurry of errors, with the web interface looping in the loading state of Ema)

[2021-10-09 14:29] srid opened #172 "A tag like `#foo/` breaks the parser"
Inline tags that end with a slash `/` break the parser. See https://github.com/srid/emanote/issues/171#issuecomment-939306208

A simple fix would be to just ignore the trailing slash.

[2021-10-10 20:29] #172 closed, assigned to nobody

[2021-10-10 20:42] #168 closed, assigned to nobody

[2021-10-10 20:42] srid commented on #168
For now we just ignore the anchors (so `[[Page#Heading|some text]]` will render as a link to Page.md with "some text" as link text), but see #105 for actually handling the anchors.

[2021-10-10 21:14] srid commented on #161
@edrex The linked PR (in draft form) #174 implements some version of the export feature. Could you try it out for your use cases and provide feedback?

You can clone that branch and run `nix-env -if ./default.nix` (or `nix-build -o ./output`) to use that custom Emanote. Then, either in live server or generated static site, access the URL path `/-/export.json` to get the graph in JSON. It should lo

[2021-10-11 01:33] edrex commented on #161
Tested briefly on my big messy wiki. It's fast, presumably exposing an existing in-memory structure.

Impressions:

- `tag: RTMissing` edges lack contents field, which would be handy for enumerating missing link targets:

[code]

- `/-/export.json` is present in the generated output as well, making it available to eg, build a force-directed graph client-side, which seems like a fun possibility

Re

[2021-10-11 18:51] srid commented on #161
@edrex I addressed your first comment, as well as added the note metadata ... in addition to normalizing and structure-ifying the JSON. Try out the PR once more and let me know any further feedback you have!

EDIT: Also, the route has changed to `/-/export/graph.json`

[2021-10-14 21:59] kukimik commented on #136
To keep things consistent (see https://github.com/srid/emanote/pull/176#issuecomment-943670927) perhaps the icon should be taken from https://heroicons.com/ (type "external-link" in the search box) instead of fontawesome.

[2021-10-16 17:40] gigglemoose opened #180 "[Vim] Files disappear on write"
Emanote loses files when edited through vim on my setup.

- EndeavourOS (Arch-based distro) running dwm and st
- Vim text editor
- Vivaldi browser

Everything at its latest available version.

Screencast displaying bug: https://www.youtube.com/watch?v=WyTk73EaCS0
Script file: https://pastebin.com/g45qapn6
Timing file: https://pastebin.com/Y3kAJJEM

I create a note directory ~/emanote, add an index

[2021-10-16 17:56] srid commented on #180
I looked at the YouTube video. The log on the left is very telling. When you save a file, your text editor sends two filesystem events to Emanote

- "Removed index.md"
- "Added 4913"

Normally one would see the following two events instead if the text editor saves the file by deleting it first (as strange a behaviour as that is):

- "Removed index.md"
- "Added index.md"

Or, the typical scenario i

[2021-10-17 04:52] gigglemoose commented on #180
Alright, so I've confirmed that this is just a weird Vim thing. Vim in nocompatibility mode (which is what a large majority of vim users will be in because it's actually the default if a user has any .vimrc file at all) has atypical behaviour in how it actually saves files. Anybody who cares about the details of why this is happening can check out [this link](https://vi.stackexchange.com/questions

[2021-10-17 11:44] j-steinbach commented on #180
Question: Does this apply for Neovim as well? I am not sure if you are talking about _Vim_ specifically or mean the whole range of _vi_, _vim_ and _neovim_.

[2021-10-17 15:47] gigglemoose commented on #180
I'm most familiar with Vim, but my testing seems to indicate that neovim has the same problem (and solution) and vi actually works with Emanote out of the box

[2021-10-17 16:06] j-steinbach commented on #180
Thank you for clarifying that. I run (and am new to) Neovin, and just checked -- I think I don't yet have `nocompatible` set yet, so your findings come at a good time for me :+1:

---

I think we could create a general "Setting up Vim for Emanote" discussion. (The WIP Emanote docs only describe a VS Code setup, whereas the old Neuron docs mainly lists a few [plugins](https://neuron.zettel.page/edi

[2021-10-17 16:19] srid commented on #180
We can create a dedicated page for Vim? Similar to https://emanote.srid.ca/resources/vscode

And then describe this issue in there for those interested.

PR for that is welcome! I'll leave this open for a few days, but it doesn't look like there is any other actionable thing here.

[2021-10-19 20:26] srid commented on #161
https://github.com/srid/emanote/pull/174

[2021-10-19 20:26] #161 closed, assigned to srid

[2021-10-20 16:50] kukimik commented on #136
This is not as easy as it seems. The color of the icon should fit the color of the link text, which depends on the theme.

Aa far as I know, the Wikipedia approach (using the icon as a background image) does not allow us to change the color of the icon using `currentColor`. The same applies to placing the icon as `content` in the `:after` pseudo-element.

One solution is to use a font (e.g. the fo

[2021-10-22 13:11] srid commented on #136
@kukimik  I'm not sure I understand what the problem with using heroicons is.

You can use `${theme}` in the template to access the current theme's color. See for example:

https://github.com/srid/emanote/blob/5ae79f4017bf591dee2ee6c6039db5e1ccd921b4/default/templates/components/backlinks.tpl#L7-L9

[2021-10-22 17:32] kukimik commented on #136
I mean the CSS used to style the page does **not** apply to SVG images used as `background-image: url([...])` (or in `:after{ content: url([...]) }`), no matter if `url(...)` contains inline svg or a filename.

I also don't think I can use an external stylesheet to style these images (looks like `<?xml-stylesheet type="text/css" href="../some.css"?>` does not work in this case).

So I'd need to in

[2021-10-22 19:15] kukimik commented on #136
If you're ok with the mask solution, I can create a PR.

[2021-10-22 20:22] srid commented on #136
Sure, feel free to.

[2021-10-31 04:08] rvl opened #184 "pandoc.rewriteClass doesn't apply to links"
### Describe the bug

I would like to style several links on a page with the same set of tailwind css class.

So instead of this:
[code]
I want this:
[code]
Using config:
[code]

It doesn't seem to work though.

### To Reproduce

Replace `emanote-template/index.md` with the following:
[code]

### Expected behavior

I would like example 3 to appear the same as example 2 above.

So the resulting `<a

[2021-11-01 01:01] dzackgarza commented on #151
Regarding ordering in the sidebar: is there an easy way to have the ordering just reflect the filename ordering? (As opposed to inferred note title, or specifying a manual ordering in YAML.)

[2021-11-01 01:12] srid commented on #151
Currently, the order is determined from `order` key. If that doesn't exist, then note title is used. If there is no title, then filename is used:

https://github.com/srid/emanote/blob/71abc42e29b3355a0acdce922cf1bf53a64e12bb/src/Emanote/View/Template.hs#L175-L178

You are asking to discard the title, and compare only filename (if there is no `order` key), right? Is there a reason why you want to o

[2021-11-01 18:00] srid opened #186 "Individual backlinks not in right order"
For eg., in Timeline backlinks section - the individual backlinks are not appearing in the original order of their appearance in the .md file.

Create Foo.md, and link to [[Foo]] several times from another markdown file, then check Foo's backlinks for right order.

[2021-11-02 03:05] dzackgarza commented on #151
For ordering by filename over note title: the use case here is to have book-like subdirectories, where it's convenient for other command-line compilation toolchains to just glob the directory and pipe text files in lex order. An example might be having `000_Preface.md` and `999_Appendix.md` with titles **Preface** and **Appendix** respectively, where sorting on the in-note titles seems to put the

[2021-11-03 18:36] #159 closed, assigned to nobody

[2021-11-04 17:11] srid opened #187 "Tasklist checkbox does not render in backlinks panel"
![image](https://user-images.githubusercontent.com/3998/140386665-225e3400-cb6e-4a21-b82d-c791c9d93351.png)

[2021-11-04 22:59] srid opened #188 "Extend Emanote in Haskell"
Allow Emanote to be used as a Haskell library (ideally via Nix) so that users can "extend" it with custom features.

For example, I would like to add a "special" page to my notebook that is computed on the fly (to show tasks based on a non-general private context, display high-level goals/perspective, current-date/time-specific notes, ... a 'dashboard' of some sort), depending on the notebook cont

[2021-11-04 23:03] srid commented on #188
Alternative approach: an user-created process that uses Emanote as a library to observe model changes, and generates a `dashboard.md` or whatever with generated Markdown (or HTML, for complex layouts), which file is picked up by Emanote live server (main process). The advantage of this approach here is we don't have to extend the routing mechanism (ie., no new core use case needed), and that the u

[2021-11-04 23:06] srid commented on #188
Heck, both approaches can be *combined* into a singular one - wherein this user-created process generates its special notes on a *separate layer*, and then runs a live-server with the main layer and the generated layer *merged* together. Separation of concerns is the advantage here. This is one of the scenarios the "layers" feature (core-use-case^1) enables.

^1 See `#architecture-and-design` in [

[2021-11-05 00:39] srid commented on #184
This works as a workaround

[code]

This is same as your span example (number 4) except we use a wiki-link instead of plain text in the span body. In fact, you can use just about any Markdown syntax in the span.

---

Okay, back to the issue itself, I suspect this is a matter of fixing it in our commonmark parser extensions, possibly in the wiki-link parser here:

https://github.com/srid/emanote/b

[2021-11-06 17:44] srid commented on #18
Let's prefer org-mode over others.

[2021-11-08 10:59] kukimik commented on #24
Embedding notes may create loops:

some_note.md:

[code]

other_note.md:

[code]

I've tried it with the live preview and couldn't open any of these notes in browser. Didn't have time to check memory/CPU usage etc., but perhaps the loops should be detected anyway?

[2021-11-08 14:04] j-steinbach opened #193 "Can't create empty cells in first column in markdown table"
I want to create a markdown table where some cells in the first column are empty.

![2021-11-08_14-42](https://user-images.githubusercontent.com/69524139/140752905-407626ef-b9bc-4306-a6e8-e4ed5c2fa379.png)

This is my markdown code:

[code]

I am actually not sure which markdown spec Emanote uses. I base my bug report on GFM. As demonstrated in [199](https://github.github.com/gfm/#example-199), ce

[2021-11-08 14:21] srid commented on #193
Add an extra pipe; it will work:

area | category
-- | --
00-09 |
| | 01
| | 02
\- | 03
\- | 04
\- | 05

[2021-11-08 14:21] #193 closed, assigned to nobody

[2021-11-08 14:32] j-steinbach commented on #193
This is a workaround, but I won't complain. (Or will I? :thinking:)

---

Just for the record:

I guess Emanote uses ["Zettel Markdown"](https://neuron.zettel.page/markdown). This leads to [commonmark pipe tables](https://github.com/jgm/commonmark-hs/blob/master/commonmark-extensions/test/pipe_tables.md), finally leading to *A leading and trailing pipe is also recommended for clarity of reading, a

[2021-11-08 14:42] srid commented on #193
I'm a fan of https://asciidoctor.org - but unfortunately I don't think there is a good and complete Haskell parser for it yet.

I don't know how complete https://github.com/gmarpons/asciidoc-hs is as of now. Maybe someone can investigate.

[2021-11-17 07:29] rvl commented on #184
Thanks @srid, from my testing I found that `[[[guide]]]{.mylink}` still wraps the `<a>` inside another element, which is `<span>`, and the container element gets the `.mylink` styling rather than the `<a>` itself.

If I get any time, I will look at the modules you referenced and try to fix it, but at the moment I'm rather short on time.

[2021-11-22 02:14] srid opened #197 "Fonts don't look as good on macOS"
<img width="827" alt="image" src="https://user-images.githubusercontent.com/3998/142791106-7bbe02d0-709e-4886-8483-78f55228fb1b.png">

[2021-11-22 09:34] j-steinbach commented on #197
Can you add a "good" image for comparison? On the first glance this doesn't look "bad".

[2021-11-23 03:39] srid commented on #197
Here's how it looks on Linux. Notice the lack of clear contrast between bold and regular text.

![image](https://user-images.githubusercontent.com/3998/142968045-3b9ba81c-6902-4b86-a9ca-f0e2e8dbab8f.png)

[2021-11-23 14:47] j-steinbach commented on #197
Ah, I see it. The Linux font looks crisper, the Mac one is way thicker.

For anyone having trouble seeing it: compare the `Emanote is currently in beta phase` lines.

One good technique for comparison is to download the pictures, and then switching between them quickly.

[Ideally I knew how to create a GIF with the comparison.. :smile_cat: ]

[2021-11-23 14:54] srid commented on #197
We could switch to a different font that looks good on all OS.

Doing this is in Emanate should be trivial. We just replace the font files [here](https://github.com/srid/emanote/tree/master/default/_emanote-static/fonts), and change their reference [here](https://github.com/srid/emanote/blob/6791d474eb412befb5b9555f6c13c28006fea798/default/templates/hooks/more-head.tpl#L2) and [here](https://githu

[2021-11-23 15:31] j-steinbach commented on #197
I don't have a Mac, so I can't test this, but are you sure that it is simply "Nunito doesn't look good on MacOS"? There are a few things that come to my mind:

- Does this happen only on your single machine? Or does it happen across all Apple devices?
- It might be an issue with Retina displays -> [Fix blurry fonts](https://www.cleverfiles.com/help/mac-fonts-text-blurry.html) (Note: This is litera

[2021-11-23 16:02] srid commented on #197
I don't know really, I haven't investigated the problem. Maybe it is something to do with our use of font weights.

The screenshot I posted above is from M1 MacBook Air, running macOS Monterey and Safari browser in default configuration (nothing customized).

Agreed.

[2021-11-23 16:03] j-steinbach commented on #197
Re: GIF

Actually quite simple: `convert -delay 100 -loop 0 *.jpeg animatedGIF.gif`.

Ideally the images have an identical size & viewport, but I think this demonstrates the issue quite well:

![font-comparison](https://user-images.githubusercontent.com/69524139/143059342-c59e6f07-a135-4719-b16a-e670c4b026b2.gif)

[2021-11-25 15:57] danymat opened #198 "Emanote does not compile because of MacOS characters"
**Describe the bug**

As this docker image does not work on m1 Mac, I had to test on my vps (with docker)

[code]
**To Reproduce**
Steps to reproduce the behavior:
Clone my GitHub files at: https://github.com/danymat/brain
Use the docker CI tutorial to generate the notes

I think it's because of characters like these:
`§éàè......`

[2021-11-25 16:02] srid commented on #198
Tried `-e LANG=C.UTF-8 -e LC_ALL=C.UTF-8`?

https://github.com/srid/emanote-template/blob/master/.github/workflows/publish.yaml#L15

[2021-11-25 16:03] srid commented on #198
https://github.com/srid/emanote/discussions/120#discussioncomment-1255160

[2021-11-25 16:20] #198 closed, assigned to nobody

[2021-11-25 16:20] danymat commented on #198
It works, thanks !

[2021-11-25 21:33] danymat opened #199 "Special tags not properly linked"
I use Zettelkasten like Zettelkasten.de, which they use the concept of structure notes, found by following the tag `##.....`.
Emanate seems to fetch this type of note, see below

<img width="257" alt="Capture d’écran 2021-11-25 à 22 32 21" src="https://user-images.githubusercontent.com/5306901/143501485-c9cfc831-5932-4211-b79b-be212a25280c.png">

But when clicking to it (`##§1`) I get this link:

[2021-11-25 21:35] danymat commented on #199
Just saw more of the tag index, and it seems to fetch notes with `##...`, but clicking to them don't go to their list of notes

[2021-11-25 21:36] srid commented on #199
Hmm, yea we have to escape that `#` in the URL, otherwise browser will interpret it as HTML anchors.

[2021-11-25 21:38] srid commented on #199
Fix would probably go here:

https://github.com/srid/emanote/blob/f578519a0e1be836714104f9d5698923456367e3/src/Emanote/Route/SiteRoute/Type.hs#L158-L160

and

https://github.com/srid/emanote/blob/f578519a0e1be836714104f9d5698923456367e3/src/Emanote/Route/SiteRoute/Type.hs#L129-L131

[2021-11-25 21:50] srid commented on #199
The software should do it automatically, but for now - replace `#` with `%23` in the URL. Example: https://notes.danielmathiot.tech/-/tags/%23Zettelkasten

[2021-11-28 15:51] srid commented on #199
Problem exists also in `metadata.tpl`

<img width="506" alt="image" src="https://user-images.githubusercontent.com/3998/143775439-ab9d92a2-7acb-4d5b-bdfe-f4be863a2249.png">

We are constructing tag URL manually, and that's wrong (`${value}` is not encoded here). Should just pass the encoded URL as template var.

---

By the way, in the tag index we already do this (ie. tag URLs use `%23` - but the

[2021-11-28 16:28] #197 closed, assigned to nobody

[2021-12-05 07:11] edrex opened #210 "modelFolgezettelAncestorTree doesn't terminate with reciprocal parent links"
I'm seeing runaway CPU usage running the server or gen with a test case consisting of an `index.md` linking with `#[[foo]]` to `foo.md` (https://gist.github.com/2e5117e799c17d5363f302615489195f)

 Doesn't happen if
  - if `foo.md` doesn't exist
  - with `index.md` renamed to `i.md`
  - with a non-parent link `[[foo]]`

Reproducible? I see it with builds of emanote-0.3.10.3 and emanote-0.3.15.3 fro

[2021-12-05 20:29] srid commented on #210
I pushed a commit yesterday for that version, see https://github.com/srid/emanote/commit/796a8175a5780dba1e4efc09e94e7973820657c6

Can you try with an older version of Emanote?

Try: `nix run github:srid/emanote/8aeb9892aa7ac2bd5c99050e07a35339c12bf6a5` to get 0.3.15.2.

[2021-12-05 21:14] edrex commented on #210
Actually saw it first with 0.3.10.3 6716d8d12961b98cb1f7b468a4d206b52e783293
 so it's been around at least since then. An uplink from index isn't something most people would try so maybe it's not a regression.

[2021-12-05 22:13] srid opened #211 "M1 Mac support"

[2021-12-05 22:20] #211 closed, assigned to srid

[2021-12-07 20:11] edrex commented on #210
[code]
[![](https://gist.githubusercontent.com/edrex/2e5117e799c17d5363f302615489195f/raw/e2e6a19a3a54df0d738a76f4fe1cc81814050326/emanote-profile.svg)](https://gist.githubusercontent.com/edrex/2e5117e799c17d5363f302615489195f/raw/e2e6a19a3a54df0d738a76f4fe1cc81814050326/emanote-profile.svg)

[2021-12-07 21:15] edrex commented on #210
Oh, i think the unbounded recursion is because Foo has index as ancestor implicitly.
This lead me to check if a simple reciprocal reference loop `foo.md` => `#[[bar]]`, `bar.md` => `#[[foo]]` terminates and in fact it doesn't, so the issue is that the folgezettel tree needs loop detection.

[2021-12-07 23:01] srid commented on #210
Yea, it just loops indefinitely. To reproduce with log:

[code]

`bin/run` will see a flurry of:

<img width="268" alt="image" src="https://user-images.githubusercontent.com/3998/145119164-f9c9dab2-c73f-46d0-9ab8-8cabd3f2d73b.png">

[2021-12-07 23:09] srid commented on #210
@edrex I think I know where the bug is. But would you like to take the opportunity to contribute a PR? :-) VSCode is a nice experience.

Hint: we use the State monad (`MonadState`) to track "already visited" nodes when building the tree (see `modify` use), so most of the code to avoid infinite loop is already there; just with a tiny bug.

[2021-12-08 14:59] worldofgeese commented on #18
Does unpinning this issue mean that org-mode support has been de-prioritized?

[2021-12-08 21:22] edrex commented on #210
Ok, I'm taking a look.

[2021-12-09 20:24] edrex commented on #152
i'd be interested adding some tests if the test framework were in place

[2021-12-09 20:26] srid commented on #152
I'll add one by this weekend.

[2021-12-09 21:09] #210 closed, assigned to nobody

[2021-12-10 01:26] edrex commented on #10
+1 for following an existing implementation's lead to avoid format fragmentation

Most folks doing data-driven views in Obsidian seem to use the [dataview plugin](https://github.com/blacksmithgu/obsidian-dataview/) - it's recommended by https://obsidian.md/#:~:text=Dataview.

It would be nice if there were a more intentional attempt at a proposal for a standard.

[2021-12-11 10:29] kukimik opened #216 "No DOCTYPE in generated HTML"
**Describe the bug**
The generated HTML filles lack the `<!DOCTYPE html>` declaration.

**To Reproduce**
1. Follow the instructions at https://note.ema.srid.ca/start/install/docker.
2. Open the generated HTML files in your favourite text editor and check the first line.

The pages published at https://note.ema.srid.ca/ are also affected by this bug.

**Expected behavior**
The generated HTML files

[2021-12-11 17:39] srid commented on #152
@edrex Added one now.

Using https://hedgehog.qa

Run `bin/test` to run the tests.

[2021-12-11 22:00] srid commented on #216
DOCTYPE is used in the Heist template,

https://github.com/srid/emanote/blob/bc574c1e5c3a28f1ab1174691ca9f8c1e595b4d6/default/templates/base.tpl#L1

But it is not being generated for some reason,

https://github.com/srid/emanote/blob/9e89c60bb285dd6a15a7387a6b94d4a0d82c7104/index.html#L1

Requires debugging ... probably something to do with heist.

[2022-01-03 13:26] kksgandhi opened #221 "Add .tpl for rendering broken wikilinks, so the user can override it"
### Discussed in https://github.com/srid/emanote/discussions/220

<div type='discussions-op-text'>

<sup>Originally posted by **kksgandhi** December 31, 2021</sup>
At the moment, a broken wikilink has a strikethrough effect, naked brackets, a large X, and a "backlinks" superscript link. This seems rather excessive, and I was wondering if there was a user controllable way to set what broken wikilin

[2022-01-04 14:21] Fullchee opened #222 "`srid.ca` has an SSL issue"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
- Go to https://note.ema.srid.ca/start/install
   - the link in the README

**Expected behavior**
A clear and concise description of what you expected to happen.
- it would lead me to a webpage

**Screenshots**
If applicable, add screenshots to help explain your problem.

![i

[2022-01-04 14:27] srid commented on #222
I migrated domains / DNS from Google to Namecheap/Cloudflare. Let's give it a couple of days to resolve itself. If not, I'll have to contact Cloudflare support.

[2022-01-04 14:27] srid commented on #222
The website is built off https://github.com/srid/emanote/tree/master/docs - so meanwhile, you can read the .md files.

[2022-01-05 03:44] srid commented on #222
https://emanote.srid.ca should be up. If not, try again in a few hours.

[2022-01-05 14:57] srid commented on #222
https://emanote.srid.ca is the new canonical URL.

[2022-01-05 14:57] #222 closed, assigned to srid

[2022-01-08 00:12] atomicbird opened #223 "Recursive output.docker directories"
**Describe the bug**

I'm running Emanote via the Docker image and finding that repeated runs lead to nested `output.docker` directories, even though I run the command in the same directory each time. Each level's content is a duplicate of the level above it.

**To Reproduce**

I'm getting it as follows:

1. `cd` to my Obsidian notebook directory
2. `mkdir output.docker` if it's not already there.

[2022-01-08 19:37] #223 closed, assigned to nobody

[2022-01-09 01:17] srid opened #228 "Add .emanoteignore"
Like `.gitignore` but for ignoring files.

Effectively allows overriding the hardcoded paths here: https://github.com/srid/emanote/blob/b3ced121059bb7a688c890f3ee489a9713191132/src/Emanote/Source/Pattern.hs#L34-L40

[2022-01-09 01:47] srid commented on #118
https://github.com/srid/emanote/pull/229

static site generation only (live server still uses 2.2).

[2022-01-10 23:44] atomicbird commented on #228
My main use for this would be to have Emanote ignore Obsidian template files. There are probably other uses, of course.

[2022-01-11 15:39] srid opened #230 "Document Docker use in Windows (no WSL)"
From an user in Matrix:

![image](https://user-images.githubusercontent.com/3998/148973488-cbac3c17-5d4d-4811-a032-12dce518aa6c.png)

~~Hot reload works too, reportedly.~~

Possibly as a note under (or over) https://emanote.srid.ca/tips/wsl

[2022-01-11 18:00] wyattjsmith1 opened #231 "Enormous icons when generating site (docker)"
**Describe the bug**
When I generate the page, all of the icons are enormous. I have pasted the generated html file at the bottom (Can't link html unfortunately, so I just pasted it)

**To Reproduce**
Steps to reproduce the behavior:
Generate html using the docker configuration. Here is my `gitlab-ci.yaml`:
[code]

**Expected behavior**
The icons should be a reasonable size and not cover the whole

[2022-01-11 18:23] srid commented on #231
From the generated HTML,

[code]

Do you have this file, `tailwind.css`, @wyattjsmith1 ? Also check your browser console for the CSS failing to load. The enormous icon is because of CSS not loading.

Emanote recently started using Tailwind 3.x to generate this file, see https://github.com/srid/emanote/pull/229

The CSS generation is automatically run as part of the `gen` command. So you want to pa

[2022-01-11 19:09] wyattjsmith1 commented on #231
Oh, it is actually not generating it and getting a 404. It looks like it is failing to generate (but still returning 0 status code). Here is `emanote gen`:

<details>
<p>

[code]
</p>
</details>

[2022-01-11 19:38] srid commented on #231
I think special characters like `'` and `(` are triggering the bug. The solution is to escape the string value `config` right here: https://github.com/srid/tailwind-haskell/blob/951e4ef23907b7f3d6e558f052468eac8ae85f3c/src/Web/Tailwind.hs#L104-L123

I'll take a look when I get a chance, but otherwise this ^^ is where the fix would go.

[2022-01-11 20:17] wyattjsmith1 commented on #231
Ah, i see. Thanks for your help!

[2022-01-12 01:28] srid opened #232 "Tailwind compiler does not return non-zero exit code on crash"
Discovered during #231

[code]

<img width="499" alt="image" src="https://user-images.githubusercontent.com/3998/149047570-266bf669-20a9-4c6c-9368-637ef21bdf20.png">

[2022-01-12 01:30] #231 closed, assigned to nobody

[2022-01-12 14:32] #232 closed, assigned to nobody

[2022-01-12 18:25] wyattjsmith1 commented on #231
I just tested the fix, and it fixed my issue. Thanks!

[2022-01-13 01:12] Fullchee commented on #222
Works for me! Thank you!

[2022-01-22 05:03] waynr commented on #180
This would definitely help me right now :). I'm just learning about zettelkasten and have started to use `vim-zettel`/`vimwiki` which so far falls short in a few ways.

[2022-01-22 13:24] j-steinbach commented on #180
I am still in the midst of learning/configuring vim, but I think either [ZK](https://github.com/mickael-menu/zk) or [Telekasten](https://github.com/renerocksai/telekasten.nvim) is the way to go. (Don't yet have them set up)

---

E: Maybe you could say how `vim-zettel` and `vimwiki` fall short? I.e. what are they missing?

E2: @srid can you update your previous comment with a working url? I think

[2022-01-22 19:17] srid opened #238 "Stale tailwind.css is used in generated website"
On: https://ladder.haskell.page

Generated:
<img width="280" alt="Screen Shot 2022-01-22 at 2 16 17 PM" src="https://user-images.githubusercontent.com/3998/150652499-8fff63c7-d5d7-4ad3-a663-5dbe20864626.png">

Live:
<img width="292" alt="Screen Shot 2022-01-22 at 2 16 42 PM" src="https://user-images.githubusercontent.com/3998/150652511-774e19db-8dde-4dee-af86-8d0225474649.png">

[2022-01-22 19:19] srid commented on #238
Turns out this is because we are no longer applying hash to `tailwind.css` Urls. The issue goes away eventually when the cache is invalidated by the browser.

[2022-01-22 20:22] srid commented on #82
We have `${ema:note:source-path}`. See https://github.com/srid/emanote/blob/9c902c69350d63558d0f53718d47edbde2304ac4/docs/templates/hooks/after-note.tpl#L3

[2022-01-22 20:22] #82 closed, assigned to nobody

[2022-01-22 20:23] #238 closed, assigned to nobody

[2022-01-25 14:27] Terkwood opened #240 "emanote hangs when browsing some pages"
**Describe the bug**

Emanote will often hang when browsing pages with uplinks.

I use the neuron-style interface for emanote.

Here's the problem: If I trim the various uplinks and downlinks from the page, it starts to load.  Specifically, if the problem link is an uplink like `#[[foobar]]`, converting it to a non-hierarchical link like `[[foobar]]` seems to fix the issue.

**To Reproduce**
Steps

[2022-01-25 14:30] Terkwood commented on #240
Updated the description with a bit more info

[2022-01-25 15:03] srid commented on #240
@Terkwood Are you using the latest version of Emanote? A similar bug was fixed before - #210.

[2022-01-25 19:24] Terkwood commented on #240
Oh, nice!  I'm pretty up to date but I might not be _that_ up to date.  Will check back and let you know.

That bug in #210 does describe at least _some_ of my problem situations -- I found a very obvious cycle of DocumentA pointing to DocumentA.  Bad note taking on my part!  Anyway, this looks hopeful, thanks!

[2022-01-25 21:05] Terkwood commented on #240
Just updated to the latest version used in your main branch, and it's working flawlessly... even with my hopelessly looping note hierarchies.  Thanks for the great software!

[2022-01-25 21:05] #240 closed, assigned to nobody

[2022-01-29 18:58] srid opened #241 "Interactive search in live server"
In live server, add a search box where users can search notes interactively.

This can be implemented one top of https://github.com/srid/ema/issues/69

- [x] `ema.switchRoute`
- [ ] ema: support for query in URLs (ie., `/search?q=foo+bar`)
  - That, or we can get by without queries, ie., `/search/foo+bar`

[2022-01-31 14:47] srid opened #243 "Add 'Edit in VSCode' tip to docs"
<img width="638" alt="image" src="https://user-images.githubusercontent.com/3998/151814612-bba6a519-2147-4d4d-9c80-340b9a092726.png">

[2022-01-31 15:18] srid opened #244 "Bold font is not distinguished enough on Chromium browsers"
On macOS Brave:

<img width="325" alt="image" src="https://user-images.githubusercontent.com/3998/151820073-1ba19580-23e8-411e-9e2c-d7f52eea22ef.png">

On macOS Safari:

<img width="327" alt="image" src="https://user-images.githubusercontent.com/3998/151820104-c2e05648-a528-43d5-9b8b-02e247c1c889.png">

`‘extended’ working memory` is text in bold - but look at the difference in contrast between th

[2022-02-02 20:43] srid opened #245 "Restore cachix"
Got removed in https://github.com/srid/emanote/commit/46d797eb3740092de3ffac906518083a00340259

[2022-02-05 17:12] #245 closed, assigned to nobody

[2022-02-05 18:09] #244 closed, assigned to nobody

[2022-02-06 20:00] srid opened #246 "Broken link report"
Add a special page (live server only) that lists all broken links in the notebook.

- [ ] `run`: Live server report
- [x] `gen`: static site report & failure https://github.com/srid/emanote/pull/268

[2022-02-08 21:45] srid opened #247 "Compose Emanote in Haskell using Ema"
Produce an example of it once https://github.com/srid/ema/issues/75 lands

[code]

Top-level Ema site gets access to Emanote's model, and can do whatever it wants with it.

---

- [x] Implementation https://github.com/srid/emanote/issues/188
- [x] Example
- [x] Fix hardcoded tag urls
- [ ] Explain in documentation

[2022-02-09 12:23] SpyrosMourelatos opened #248 "Unicode Character Support"
I have a knowledge base in Greek language that I am trying to use with emanote.
It kind of works but the greek characters at some places are corrupted
![20220209141238](https://user-images.githubusercontent.com/26333139/153200124-b8f7a3ae-bbce-4944-a903-e1262a28a647.png)
To Reproduce take my zip and run `emanote run`
 - Browser both firefox and chrome
firefox --version
Mozilla Firefox 96.0.3
chrom

[2022-02-09 12:50] SpyrosMourelatos commented on #248
Also by noticing a relevant bug with chinese
![image](https://user-images.githubusercontent.com/26333139/153204476-5c12ca42-378f-4402-98d5-2543a7b67b50.png)

[2022-02-09 13:02] SpyrosMourelatos commented on #248
And  by the way is fixed with LANG=C.UTF-8

[2022-02-09 15:51] srid opened #249 "Support for full range of relative links"
Also see https://github.com/srid/emanote/discussions/115

<img width="685" alt="image" src="https://user-images.githubusercontent.com/3998/153237623-2bf7919b-6f29-43cf-ba16-ac4db472e004.png">

[2022-02-09 22:53] haoyun commented on #248
Are you using Nix? if so, i think it's related to or a duplicate of https://github.com/srid/emanote/issues/125. And the problems is with Nix environment.

[2022-02-10 10:48] SpyrosMourelatos commented on #248
@haoyun
I am not using the os named Nix, I only use the package manager as this is the suggested way to install emanote, is there an alternative?
The os is Manjaro and ubuntu (as I run it on github pages also)
I don't request a fix , probably just adding it to the readme so people would find the fix easier is enough for now

[2022-02-10 22:42] srid commented on #248
@SpyrosMourelatos The package manager is called Nix; and the OS is called NixOS.

I'm closing this as a duplicate of #125 ... at minimum we should document this workaround.

[2022-02-10 22:42] #248 closed, assigned to nobody

[2022-02-11 15:11] srid opened #251 "Add `--open` to open the URL automatically"
`emanote run --open` should open the URL in the user's web browser right after the web server starts.

Should work on macOS and Linux.

[2022-02-11 19:56] B4rc1 opened #252 "linux symbolic links not implemented"
**Describe the bug**
Emanote does not index or show symbolic links.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to your notes directory
2. create a symbolic link from somewhere into your notes directory: e.g. `ln -s ~/uni/informatik-obsidian/Lecture\ Notes/ ./lecture-notes/`
3. Open Emanote
4. See no entry `lecture-notes`

**Expected behavior**
`lecture-notes` should be included like

[2022-02-11 19:57] #252 closed, assigned to nobody

[2022-02-11 21:38] srid opened #254 "Allow mapping layers to a subdirectory"
Eg: `--layers "foo=~/Notes/foo;."` should put foo notes under /foo/ in Emanote.

_Originally posted by @B4rc1 in https://github.com/srid/emanote/discussions/253#discussioncomment-2160252_

[2022-03-04 14:44] srid opened #261 "VSCode extension for Emanote"
We could fork [vscode-memo](https://github.com/svsool/vscode-memo), and change it to use `/-/export.json` from the live server.

Our extension would consequently also work as a web extension (github.dev, etc.). See https://github.com/svsool/vscode-memo/issues/480

[2022-03-10 14:28] srid opened #262 "Automatic sidebar scrolling"
When navigating to a page whose location in the sidebar is way below, automatically scroll the sidebar to put that link in view.

Demo: http://www.seinan-gu.ac.jp/~shito/asciidoctor/html_chunk/chap37.html#special-characters

[2022-03-13 14:42] srid opened #264 "Switch from `commonmark-hs` to Pandoc for parsing Markdown"
_Originally posted by @srid in https://github.com/srid/emanote/discussions/250#discussioncomment-2145470_

[2022-03-13 14:44] srid commented on #264
Should measure the performance impact.

[2022-03-13 14:47] #251 closed, assigned to nobody

[2022-03-13 14:50] srid commented on #188
Closing in favour of the much better approach (due to decoupling) #247

[2022-03-13 14:50] #188 closed, assigned to srid

[2022-03-21 14:58] srid opened #265 "![[..]] snippet"
If the embedded note has a div with a certain ID, say `summary`, embed that div instead of the whole note.

So, if the note `Foo.md` was:

[code]

Then embedding this note using `![[Foo]]` should display only the second paragraph, albeit with some indicator to indicate that we are only displaying a snippet.

[2022-03-22 02:32] srid commented on #247
Re-opening for the example.

[2022-03-24 16:59] srid opened #267 "Console errors on non-Emanote notebook: `attempt to encode a 404 route: index.html/favicon.svg`"
<img width="670" alt="image" src="https://user-images.githubusercontent.com/3998/159970065-565db199-0626-421b-9402-368970209891.png">

[2022-03-24 17:10] srid commented on #267
Triggered on notebooks not using pretty URL.

[2022-03-24 17:19] #267 closed, assigned to srid

[2022-03-24 19:32] srid commented on #246
Also if there are broken links, static site generation should fail.

[2022-03-25 00:25] #249 closed, assigned to srid

[2022-03-25 14:48] srid opened #269 "Change styling of `<code>` and `<tt>`"
[This](https://github.com/Plutonomicon/plutarch/pull/398) looks super ugly:

<img width="1003" alt="image" src="https://user-images.githubusercontent.com/3998/160143872-772de230-8ea7-4623-bf82-293c6d555bd2.png">

[2022-03-25 16:21] #269 closed, assigned to nobody

[2022-03-26 12:30] srid opened #270 "Emanote executable is no longer compiled with `-threaded` since Jan 30"
https://github.com/srid/emanote/commit/481fdf7887b7287fe3094de18c78cdc5154eb0b8#diff-b4ad8ddd329038976aa75c315d8789e5364719d8ea332be7207df8a656d10beaR37-R39

[code]

[2022-03-26 12:32] #270 closed, assigned to nobody

[2022-03-29 12:41] srid opened #271 "Show H2 headings in backlinks"
Each backlink should display the level-2 heading under which the link is used.

This is useful in situations where the H2 heading is significant in the backlinks view, for example, when using dates (journaling by writing entries in a single .md file).

[2022-03-29 12:42] srid commented on #265
Alternatively, embed everything until the first level H2 heading.

[2022-03-29 12:43] srid opened #272 "Heading-awareness"
Should we make Emanote "heading-aware"?

- Embedding: https://github.com/srid/emanote/issues/265#issuecomment-1081823937
- Backlinks: https://github.com/srid/emanote/issues/271
- Linking: https://github.com/srid/emanote/discussions/105

[2022-04-01 02:24] srid commented on #254
This probably should be done in https://github.com/srid/unionmount

[2022-04-03 19:20] srid commented on #153
Heist fork has been put in Hackage, https://github.com/snapframework/heist/pull/130#issuecomment-1086931247

[2022-04-04 18:25] edrex opened #274 "cache miss evaluating flake"
Follow up to #273.

I get a cache miss with `nix run github:srid/emanote`. I notice the working copy in the store has a different hash, so i suspect there's some slight content difference in the the source dir. Trying to investigate.

[2022-04-04 18:51] edrex commented on #274
https://github.com/Gabriel439/nix-diff/issues/56

[2022-04-04 22:01] srid opened #275 "Legitimate links in definition lists are detected as broken links"
Minimal repro,

[code]

<img width="763" alt="image" src="https://user-images.githubusercontent.com/3998/161639317-bc3c57c3-2906-44ec-8fc5-87ce285c72a8.png">

[2022-04-04 22:10] srid commented on #275
This is a bug in `queryLinksWithContext`

https://github.com/srid/pandoc-link-context/blob/master/src/Text/Pandoc/LinkContext.hs

It is returning 2 entries in the map value for the key `Bar`, rather than one.

[code]

Only the first entry is valid.

[2022-04-04 22:19] #275 closed, assigned to nobody

[2022-04-04 22:38] srid commented on #274
https://github.com/srid/emanote/runs/5824813994?check_suite_focus=true

In CI, the derivation built, and that uploaded to cachix are the same:  `/nix/store/llwxjnbwhg8gmj2dyvr6vn5ah7xmrjcq-emanote-0.5.6.0`

But the local git working copy derivation is different:

[code]

---

Incidentally, the CI is also pushing ~700MB of docker image derivation to cachix! That should be avoided.

[code]

[2022-04-05 20:45] srid commented on #274
Okay, 56913b3909f41b944be4e575e17c8f8b9e17f749 did not help.

[2022-04-05 21:13] srid commented on #274
Hercules produces the right hash. I suspect something's wrong with GitHub Actions environment.

[2022-04-05 21:53] edrex commented on #274
Yeah, I suspect something in `.git`, such as `HEAD` pointing to a branch instead of a commit. IDK if nix does any normalization there.

I think `nix-diff` is supposed to be able to point out such differences, but I haven't figured out how to copy the closure locally to compare.

[2022-04-05 21:55] edrex commented on #274
Does Hercules provide builder nodes, or do you have to bring your own?

[2022-04-05 22:00] edrex commented on #274
`nix run` fetches emanote from the cache now, i guess because of a Hercules build. Is this fixed?

[2022-04-05 22:07] edrex commented on #274
- ~~[ ] TODO(edrex): repro with a minimal test flake repo and file an issue upstream (cachix action maybe)~~

[2022-04-05 22:29] srid commented on #274
https://github.com/srid/emanote/commit/78849509475f5225e12ddb25009b9f2a6a6b63f7 seems to have resolved it. 🤷🏿

[2022-04-05 22:39] edrex commented on #274
No upstream bug is a resolution worth celebrating (unfortunately rare for me these days, as I'm spending lots of time following bugs upstream). Thanks!

[2022-04-05 22:39] #274 closed, assigned to nobody

[2022-04-06 21:15] srid opened #276 "Use GHC 9"
- [ ] ema: https://github.com/srid/ema/pull/89
- [ ] heist: https://github.com/snapframework/heist/pull/132
- [ ] ixset-typed: https://github.com/well-typed/ixset-typed/pull/16

[2022-04-07 16:40] #276 closed, assigned to nobody

[2022-04-07 21:01] srid commented on #247
From private notebook,

<img width="741" alt="image" src="https://user-images.githubusercontent.com/3998/162305194-e1e14863-ab11-4504-be21-80b1be846c1c.png">

[2022-04-20 16:38] willruggiano opened #279 "lint-utils/spec-type no longer exists"
**Describe the bug**
A recent commit changed the lint-utils ref to point to the spec-type branch. This branch no longer exists.

[2022-04-20 17:30] srid commented on #279
Thanks! Fixed now.

[2022-04-20 18:22] #279 closed, assigned to nobody

[2022-04-26 12:20] JMLegere commented on #228
This would help a lot in only publishing certain folders (i.e. I do not want my Daily Journals published)

[2022-04-26 14:04] srid commented on #228
Note that when a file is ignored in `.emanoteignore`, it would be excluded in both static site generation and the live-server view. So, @JMLegere, if you ignore your daily journals in `.emanoteignore`, they shouldn't appear in the live-server either. This may not be what you intended.

[2022-04-27 23:17] JMLegere commented on #228
That is my intention. I work daily in my notes and link from my journals to my permanent notes, but want to only have my permanent notes visible in emanote.

Am I understanding this use case correctly?

[2022-04-27 23:43] srid commented on #228
You can achieve this differently.

[code]

Basically, run `emanote -L $(pwd)/permanent gen /tmp/output` to generate static site for the permanent notes, but `emanote -L ./.` to start a live server that also includes your daily notes. I use this pattern on my private notebook, where srid.ca lives in a subdirectory (and published on its own, without including my private notes).

[2022-04-28 15:43] JMLegere commented on #228
This workaround is a possible solution for my use case, thank you!

[2022-04-30 18:12] srid opened #280 "Pandoc Haskell filters"
Allow users to write a `.hs` filter (without having to setup the whole Haskell project), and evaluate it using https://github.com/haskell-hint/hint

Aside from `Pandoc -> Pandoc` we even allow the user to filter Emanote-specific stuff, eg: `Note -> Note`.

(This is like #263 but using Haskell and Emanote-awareness in filters)

[2022-05-01 00:00] oinoom opened #282 "Ability to mix mermaid and prism code blocks in the same file"
### Discussed in https://github.com/srid/emanote/discussions/281

<div type='discussions-op-text'>

<sup>Originally posted by **aneksteind** April 30, 2022</sup>
I have a simple page.headHtml:

[code]

What I'm finding when including both the mermaid example from the tips page and some python code is that the prism script conflicts with the mermaid script.

![image](https://user-images.githubuserc

[2022-05-01 02:46] srid commented on #171
https://github.com/srid/emanote/pull/278 resolved this, incidentally.  Errors now render on the note itself, when running in live-server (if doing static site generation, it will fail).

<img width="690" alt="image" src="https://user-images.githubusercontent.com/3998/166129962-0323636d-c324-4a31-96df-d78522e85d82.png">

[2022-05-01 02:46] #171 closed, assigned to nobody

[2022-05-01 15:06] oinoom commented on #282
I'm happy with the workaround I mentioned in the discussion https://github.com/srid/emanote/discussions/281#discussioncomment-2669354.

[2022-05-01 15:28] #282 closed, assigned to nobody

[2022-05-03 14:35] srid opened #284 "Test"

[2022-05-03 14:36] #284 closed, assigned to nobody

[2022-05-03 14:36] srid commented on #284
test

[2022-05-03 14:48] srid commented on #18
@worldofgeese Yes (I don't use org myself), but I'll accept PRs on this. The code already is polymorphic over markup types (ie., markdown support is not hardcoded), so doing this would be straightforward.

EDIT: Actually the route types are a bit of a mess; let me resolve that first.

[2022-05-07 16:31] j-steinbach opened #285 "Malformed YAML files break Emanote"
**Describe the bug**

When starting Emanote I get the error `Unable to render template` in the browser:

[code]

The console says `[Error#System.UnionMount] Change handler exception: BadInput "NonStringKey []"` after loading/checking all my note files.

**To Reproduce**
Steps to reproduce the behavior:
1. Start Emanote via `emanote` or `emanote run`.
2. Go to `http://127.0.0.1:8000/`
3. Get the er

[2022-05-07 16:55] srid commented on #285
Could you share a Markdown note file that triggers this?

Investigating ...

(Congrats on installing NixOS!)

[2022-05-07 17:02] srid commented on #285
I added this to the YAML frontmatter:

<img width="107" alt="image" src="https://user-images.githubusercontent.com/3998/167264380-3f610efb-72c4-4efc-9635-ea3fe5260b33.png">

And that resulted in the live server showing:

<img width="474" alt="image" src="https://user-images.githubusercontent.com/3998/167264392-d60974cd-2e61-4300-944e-c8db2f71a9a2.png">

This is expected behaviour as of b84c3b4161a

[2022-05-07 17:09] j-steinbach commented on #285
Both `emanote --version` and the run log say so

![image](https://user-images.githubusercontent.com/69524139/167264599-fe425743-0d6c-48e5-a651-c5d3910c1342.png)

[2022-05-07 17:13] j-steinbach commented on #285
Ah, it seems that maybe I ran it in the wrong folder? I have a base directory that contains the meta files from all my notes tools and a single note directory afterwards. I ran the Emanote command in the base directory..

[2022-05-07 17:14] srid commented on #285
If you could create a repository on GitHub containing the files that trigger this particular issue that would be helpful. Because so far I cannot reproduce this bug on my system.

[2022-05-07 17:16] j-steinbach commented on #285
Sure, I'll try! But might take a bit

[2022-05-07 17:34] j-steinbach commented on #285
It seems to be related to https://github.com/anishathalye/dotbot. When I delete the `/tmp/emanote-test/dotbot/lib` folder the error _before_ `[Info#ema] Ema live server running: http://127.0.0.1:8000` disappears.

---

Unfortunately I now I get this error.. (_after_ `[Info#ema] Ema live server running: http://127.0.0.1:8000`)

[code]

[2022-05-07 17:44] j-steinbach commented on #285
I'm trying to replicate this from a fresh new folder but I don't seem to be able to.. The `dotbot` install seems to also have changed.

E: Actually makes sense: The `dotbot` repository also has changed over time. So to reproduce I would have to download an old version of the `lib` folder..

[2022-05-07 17:49] j-steinbach commented on #285
I can reproduce it. The `lib` folder actually points to https://github.com/yaml/pyyaml/.

1. Create empty folder and enter it
2. `git clone https://github.com/yaml/pyyaml/`
3. `emanote gen .`
4. Boom!

[2022-05-07 18:52] srid commented on #285
Great! So the minimal repro is to apply this patch in the Emanote git repo and run `bin/run`:

[code]

[2022-05-07 18:58] srid commented on #285
The proper fix here is to handle syntax errors in `*.yaml` files and display them in the live-server (like we already do for syntax errors in `*.md` files).[^more] And the meta-fix here is to fix Ema (https://github.com/srid/ema/pull/81) from breaking down when an exception is thrown in a `Dynamic` handler.

https://github.com/srid/emanote/blob/2b6558fde2999ec22f645cb95322995b780f09f1/src/Emanote/

[2022-05-07 19:08] j-steinbach commented on #285
Well, they are not dotfiles but instead a tool/script to link/deploy (dot)files to my system. But yes, they are not that important. Also, the tool can be installed as git submodule now, so I can delete the folder anyway.

Overall I think this is a decent workaround :+1: . That means we can close this?

[2022-05-07 19:21] srid commented on #285
Let's keep it open. I will implement the proper fix stated above when I get to it.

[2022-05-24 13:03] #216 closed, assigned to nobody

[2022-05-28 13:07] srid opened #289 "Emanote changelog"
Currently maintaining a changelog at https://gleasonator.com/@emanote

Should finalize a place for it, and then add it to README.

[2022-05-30 15:08] srid commented on #102
Not having full-text search (including client-side search) is a dealbreaker for some projects, eg: https://github.com/hercules-ci/flake-parts/issues/31#issuecomment-1141259722

[2022-05-30 18:35] srid opened #291 "Categorize examples by features used"
https://emanote.srid.ca/examples is a flat list right now, but perhaps make it a table - so we can tag each example with the features used.

For eg. https://ners.ch/ and https://blog.hemera.systems/ make good use of templates, so that would be tagged with #template. etc. This way, users looking to find examples of a certain feature can easily find them.

[2022-06-01 12:44] srid commented on #289
We could use GitHub Discussions for this, but it would not be great without RSS support (for non-GitHub users): https://github.com/github/feedback/discussions/31

[2022-06-02 20:35] edrex opened #293 "`nix run` misses Garnix cache"
It looks like the cache isn't populated, at least for HEAD.

`nix run github:srid/emanote` tries to fetch all the dev deps and build.

Ref https://github.com/srid/emanote/pull/288, https://github.com/srid/emanote/issues/274 (prob a different root cause tho)

[2022-06-02 21:15] srid commented on #293
Linux?

[2022-06-02 22:17] srid commented on #293
On x86-64_linux, I do see garnix cache being used. Perhaps you are on M1? If so, it is disabled because of https://github.com/garnix-io/issues/issues/17

[2022-06-02 22:43] edrex commented on #293
My mistake, it was actually just fetching runtime dependences, such as ghc-doc (?). i just assumed that a 7.8GB closure must be dev deps. I would love to do more Haskell, it's just these runtime closure sizes I can't fathom.

[2022-06-02 22:43] #293 closed, assigned to nobody

[2022-06-02 22:46] srid commented on #293
That's one thing that sucks about Haskell Nix infra in its current state, though there are ways to reduce the closure size; see https://github.com/srid/neuron/issues/193

[2022-06-03 00:36] edrex commented on #293
Oof, I'm realizing reading through related neuron issues and nixpkgs issues/discussions that this is a deep and thorny topic. Would it make sense to create a meta-issue for tracking various routes to reducing the runtime closure size, similar to srid/neuron#193? This isn't something I can dig into at the moment, but my dev workflow would hugely benefit from progress.

[2022-06-03 00:37] srid commented on #293
Sure go ahead

[2022-06-03 19:07] edrex opened #294 "`emanote run` uses port `0`"
`emanote run` without a port specified uses the special value `0` to ask the OS to choose a port, which is fine. But it doesn't find out what the port is, so it outputs:

[code]

[code]

[2022-06-03 19:23] srid commented on #294
Oh, that's strange. When you run just `emanote` (without the 'run' argument) it behaves correctly. Looks like a bug in the command-line argument parser, as `0` shouldn't be used in the first place.

https://github.com/srid/ema/blob/multisite/src/Ema/CLI.hs

[2022-06-03 19:31] edrex opened #295 "Meta: Minimize Emanote's Nix runtime closure size"
[code]

What can be done to reduce this size?

It's not just storage on disk that suffers, also network IO which translates to latency on update.

Refs

- https://github.com/srid/neuron/issues/193
- https://github.com/NixOS/nixpkgs/issues/43795
- https://github.com/srid/emanote/issues/293
- For comparison, the [pandoc package in Debian sid](https://packages.debian.org/sid/pandoc)  is `151,715.0 kB

[2022-06-04 13:44] srid commented on #295
FWIW this is what we do in `neuron` to reduce its closure size:

https://github.com/srid/neuron/blob/f8b5fb597f85528ae4d7d1ded9e79ac901833665/project.nix#L83-L108

[2022-06-05 14:17] #294 closed, assigned to nobody

[2022-06-05 19:52] srid commented on #60
Using the first paragraph as default is enough (see https://github.com/srid/emanote/pull/296), so I'll close this.

[2022-06-05 19:52] #60 closed, assigned to nobody

[2022-06-05 20:35] srid commented on #180
@j-steinbach I don't use Vim myself for note-taking, but seeing as you have been exploring this space (#237), I trust you with whatever Vim recommendation you come up with in the docs. If you could write up a draft (or open a PR), I'd be happy to get it added to the documentation!

[2022-06-06 14:02] j-steinbach commented on #180
@srid Here is a quick small draft. I will try to find the time to improve it, but I am unfortunately quite busy (just moved to a new country).

# Neovim for note-taking

_Why Neovim?_ Because VIM simply is the best editing paradigm for working with text. You go VIM and you never go back. (Some people however move forwards to [Doom Emacs](https://github.com/doomemacs/doomemacs) or [kakoune](http://

[2022-06-12 20:01] srid opened #301 "Add `emanote query`"
https://github.com/srid/emanote/discussions/178

To begin with, add `emanote query --export` which basically dumps the [export.json](https://emanote.srid.ca/-/export.json) file to stdout.

Later on, we can implement some of https://neuron.zettel.page/query as needed.

Two uses of this command:
- In editors like vim, one can invoke it without being dependent on the live server already running (even

[2022-06-15 19:55] srid opened #305 "`<meta>` description includes Pandoc AST"
https://gleasonator.com/@emanote/posts/AKWUHC7kUc2VI6xZpI

<img width="409" alt="image" src="https://user-images.githubusercontent.com/3998/173915642-2f0525a7-2ce8-4387-a81d-43d7fd58330b.png">

[2022-06-16 18:11] #18 closed, assigned to nobody

[2022-06-17 03:34] jenny787 commented on #230
I wrote the content here.  I just want to add that I tried converting this command to the docker compose format, so that it could be deployed with a docker compose file.  I was not able to get that working.  So this command works, but docker compose does not.

[2022-06-18 02:45] srid commented on #18
https://emanote.srid.ca/demo/orgmode

[2022-06-18 22:01] srid commented on #18
For decent rendering of large Org documents, we need https://github.com/srid/emanote/issues/11 to begin with.

[2022-06-18 22:03] srid commented on #11
I like the Unison example. Ping @lucasvreis if you have any new ideas (for navigating large Org doc)?

[2022-06-18 23:18] lua-vr commented on #11
I like the sidebar TOC. I'm no designer, but since you asked for ideas... for really large docs meant to be read in a non-linear way it may help to have the sidebar fixed (I'm thinking of https://tecosaur.github.io/emacs-config/).

In emacs itself I navigate most org files with `consult-imenu`, but it'd be a bit odd to do this in a web page (or just too much work to implement 🙃).

Edit: not really

[2022-06-19 01:11] srid commented on #11
The right-side sidebar on this link is exactly what I think we should have for Emanote as well. I wonder if the CSS/JS for this comes ready-made (as in, as a generic JS library) somewhere ... ~~otherwise, we may have to reverse-engineer @tecosaur's site and write it by hand.~~

EDIT: Just discovered this small demo: https://codepen.io/pubwriter/pen/ZgLzYV

[2022-06-21 09:10] bolt12 opened #309 "Failure to use homeManagerModule"
**Describe the bug**
When I try to use and import the `homeManagerModule` I get an error

**To Reproduce**
Steps to reproduce the behavior:
1. import `emanote.homeManageModule`
2. Try to build
3. See error

**Expected behavior**
No error

**Additional context**

Here's the error message:

[code]

[2022-06-21 13:08] srid commented on #309
Does it work if you override the default?

[code]

https://emanote.srid.ca/tips/nix

[2022-06-21 14:24] bolt12 commented on #309
I get the following error:

[code]

[2022-06-21 15:12] srid commented on #309
Hmm. I don't use this module; it was [added](https://github.com/srid/emanote/commits?author=rvl) by @rvl originally, so maybe Rodney has ideas?

By the way, one of these days we should refactor and consolidate this module with https://github.com/srid/emanote/blob/master/nix/emanote.nix (at least the options in it).

[2022-06-21 15:14] bolt12 commented on #309
I am trying to use this module on NixOS not home-manager, maybe that has explains it, but I thought they would be compatible. Another option is to write a nixos module, it shouldn't be too hard.

[2022-07-14 20:10] srid commented on #309
Maybe we can expose the service in the flake module. See line 16 and 21 of https://github.com/srid/emanote-template/blob/96a0156a5aae9f6f59ba9f1ea89fa08f0857cdfc/flake.nix

[2022-07-14 22:55] bolt12 commented on #309
Thank you for the suggestion! I think I know why I was having that error but still had not have the chance to test it out!

[2022-07-23 15:40] applejag opened #316 "Vi/Vim/Neovim's writebackup (e.g `filename.md~`) confuses emanote"
**Describe the bug**
Editing files in neovim is unstable.

When having writebackup enabled (`:help writebackup`, which is enabled by default in vi, vim, and neovim), the editor will copy the target to an ephemeral backup file with the same filename but ending with a tilde (such as `filename.md~`) before overwriting the original file.

This seems to confuse emanote as there's not two files with the

[2022-07-23 16:13] srid commented on #316
@jilleJr About the "fun logs" see #180

[2022-07-23 16:15] #316 closed, assigned to nobody

[2022-07-23 21:43] applejag opened #320 "PrismJS-highlighted TOML table is wrong, due to Tailwind"
**Describe the bug**
Tailwind styling messes up PrismJS-highlighted TOML code

**To Reproduce**
1. Enable PrismJS
2. Write TOML snippet in note, e.g:

[code]
3. See invalid formatting:

   ![image](https://user-images.githubusercontent.com/2477952/180623213-07c07a2c-134a-4002-9dff-2c5d6c37a0b3.png)

**Expected behavior**

Should be rendered as:

![image](https://user-images.githubusercontent.com/2

[2022-07-25 05:56] applejag commented on #180
For reference, a docs page for this issue has been published at https://emanote.srid.ca/resources/vim#known-issue-glitches-when-saving-file via #319.

Sorry @j-steinbach but I skipped your "background about Vim" docs as I thought it was a little out of scope for Emanote to have docs about. If you insist then you're probably free to open PR on it

[2022-07-25 10:10] j-steinbach commented on #180
@jilleJr Np, people will find it in the issues if they search for it (And you even linked to the discussion :+1: ).

[2022-07-25 13:41] #180 closed, assigned to nobody

[2022-07-28 15:38] #187 closed, assigned to nobody

[2022-07-28 21:44] applejag commented on #102
Adding stork, as suggested in https://github.com/EmaApps/emanote/pull/242#issuecomment-1100888677, was surprisingly easy. Made a proof-of-concept just to play around, and it works super well :)

![image](https://user-images.githubusercontent.com/2477952/181632431-185ff376-5ee3-40ed-a64d-f077fa80b1b6.png)

Client-side of this is easy. The hard part of course it to get Haskell to talk the same langu

[2022-07-29 00:30] srid commented on #102
I agree, and this is what we should do first (without worrying about the `query` stuff).

Could you share how you did this? I imagine we can make `emanote gen` do it automatically.

By the way, the [which](https://github.com/obsidiansystems/which) library can be used to include `stork` as part of Emanote install.

[2022-07-29 00:31] srid opened #324 "Add stork-based full-text search"
The `emanote gen` generated static site should include interactive search, as demo'ed in https://github.com/EmaApps/emanote/issues/102#issuecomment-1198662665

Ideally, we want the live server to support it as well, but that can happen in a subsequent PR.

---

Use the `which` library to include `stork` as part of emanote install and maybe call stork during postRun:

https://github.com/EmaApps/ema

[2022-07-29 00:32] srid commented on #102
Separate ticket opened: https://github.com/EmaApps/emanote/issues/324

Let's continue the discussion there.

[2022-07-29 06:16] applejag commented on #102
Yea sure:

- Branch: https://github.com/EmaApps/emanote/compare/master...jilleJr:emanote:feature/stork-search-poc
- Permalink: https://github.com/EmaApps/emanote/compare/c28263848a5e34c93bd3b977cc612387dea7f99f...jilleJr:emanote:46a5c0eef360c0bf59a23da7135e8576e717103f

[2022-07-29 18:14] srid commented on #324
Contd. from https://github.com/EmaApps/emanote/issues/102#issuecomment-1198919372

@jilleJr I'm curious why you decided to build the index off the HTML files, instead of Emanote metadata:

[code]

Emanote generates the JSON metadata at `-/export.json`; ie. https://emanote.srid.ca/-/export.json (which is generated from `ModelEma` in the above type). Shouldn't you be able to generate `stork.toml` fi

[2022-07-29 20:24] applejag commented on #324
I just wanted to explore how Stork works. It was intended to be discarded, but as you asked for it I just uploaded those temp scripts I used to generate the index.

Also I don't know Emanote's codebase, so I stuck with what I did know :P (and I don't know Haskell)

Yea, probably! Thanks for the tip :)

Ok if I attempt this (static gen, to begin with)? Any tips on making the search HTML elements op

[2022-07-29 20:42] srid commented on #324
Sure!

To keep things simple, I would just hardcode the search feature in the first PR. Opt-in can be done via index.yaml and/or HTML template hooks (see 'hooks' directory).

If you have a proof-of-concept PR, I can then Haskell'ify it.

[2022-07-29 20:44] applejag commented on #324
Sounds like a plan!

[2022-07-30 16:33] applejag opened #326 "Docker image is huge (6.5 GB)"
**Describe the bug**
The Emanote Docker image is over 6 GB in size

[code]

(funny it says "CREATED 52 years ago" :hand_over_mouth:)

**To Reproduce**
1. `docker pull sridca/emanote:latest`
2. `docker images sridca/emanote:latest`
3. See results

**Expected behavior**
Docker image sizes are usually in the range of 1-200MB in size.

As the built `emanote` binary on my machine is ~200MB then the Doc

[2022-08-01 22:14] srid commented on #326
It used to be small. Possibly related: #295

[2022-08-03 12:02] wrvsrx opened #329 "First h1 heading disappear if there is a title in YAML frontmatter"
# Description

I found that if there are both h1 heading (like # head 1) in content and title in YAML frontmatter, then head 1 will disappear in emanote live server.

Is this the intended default behavior? If so, is there any way to change that behavior?

# Reproduce

Here's an minimal working example:

1.  create a `note.md` in an empty folder

[code]

1. run command `emanote run -p 8080`
1. view

[2022-08-03 17:58] #329 closed, assigned to nobody

[2022-08-08 16:30] kukimik commented on #110
@Mohib834 Are you working on this?

As an alternative maybe we could add backlinks to footnotes, like it is done for example [here](https://bigdjrp.github.io/quick-kramdown-demo/) or [here](https://www.sitepoint.com/accessible-footnotes-css/). I hate having to scroll up and search through the text after clicking on a footnote link.

[2022-08-08 17:01] srid commented on #110
I don't think anyone is working on this. Feel free to prototype something!

[2022-08-08 17:03] srid commented on #110
Agreed, backlinks (as in that arrow clicking which takes you to the footnote ref; not "backlinks" in the zettelkasten sense) would also be a good enough solution.

[2022-08-12 21:01] srid opened #330 "PrismJS syntax highlighting is broken"
I believe PR #318 caused a regression:

https://emanote.srid.ca/tips/js/syntax-highlighting

<img width="634" alt="image" src="https://user-images.githubusercontent.com/3998/184444186-0d143737-d8aa-4a73-b6cb-6fcce4c10297.png">

_Originally posted by @srid in https://github.com/EmaApps/emanote/issues/318#issuecomment-1213516220_

[2022-08-12 21:21] #330 closed, assigned to nobody

[2022-08-14 15:00] srid opened #335 "Garnix CI: Add intel mac"
Blocked https://github.com/garnix-io/issues/issues/16

[2022-08-17 23:49] srid opened #336 "Stork search unicode issue in title"
From @jilleJr https://github.com/EmaApps/emanote/pull/327#issuecomment-1214423019

@srid I found the cause. I made Emanote write the TOML file it pipes to stork to a file, and in it we find:

[code]

It's escaping the unicode-syntax. It should only be 1 backslash there.

![image](https://user-images.githubusercontent.com/2477952/184549098-c43164dc-4792-411c-a05d-8ca44250f657.png)

I.e, it seems to

[2022-08-17 23:52] srid commented on #336
Reproducible in `bin/repl`:

[code]

Notice that it double-escapes the unicode letters.

Using `T.replace "\\\\" "\\" . Toml.encode` (not a proper fix), the original bug vanishes - which confirms that the problem is with the double-escaping.

Possibly related: https://github.com/kowainik/tomland/issues/334

[2022-08-18 00:01] srid commented on #336
Looks to be an upstream bug: https://github.com/kowainik/tomland/issues/408

[2022-08-20 00:08] srid commented on #247
This is now possible; should just add it to docs.

https://ema.srid.ca/guide/compose

https://github.com/srid/emanima/pull/2 (via https://srid.ca/ema-0.8)

[2022-08-20 00:10] srid commented on #153
Now that [Ema 0.8 is released](https://srid.ca/ema-0.8) it is high time we release Emanote to Hackage, just to get it to nixpkgs.

[2022-08-20 14:45] srid opened #337 "Static syntax highlighting"
Use Pandoc to syntax highlight code blocks statically so we do not need to rely on client-side syntax highlighters (like highlight.js).

It should be possible to disable this feature in [Yaml configuration](https://emanote.srid.ca/demo/yaml-config) for users who'd rather use a client-side syntax highlighter.

[2022-08-20 14:56] srid opened #338 "Use rust FFI for stork search index building"
https://emanote.srid.ca/guide/search

https://github.com/jameslittle230/stork is a Rust project. We could just build the search index directly without shelling out à la: https://github.com/srid/monorepo-nix-template

Ref: https://github.com/EmaApps/emanote/pull/327

[2022-08-21 15:43] #324 closed, assigned to nobody

[2022-08-21 15:46] srid commented on #102
We have client-side full text search now, but to integrate it with the query feature we will need #338

[2022-08-21 17:16] applejag commented on #102
Using `stork search -i stork.st -q "query goes here"` CLI would suffice, and would probably be much easier to implement.

Using FFI could improve performance as it would skip translating back and forth between JSON, so suggest keeping it as a possible future enhancement. But the low-hanging fruit is just to use the CLI as you are when building the index.

[2022-08-21 20:31] #146 closed, assigned to srid

[2022-08-22 19:47] #301 closed, assigned to nobody

[2022-08-23 06:07] wbadart opened #340 "Neuron layout's `inverted-tree.css` not loading in Firefox in live-server"
Hey srid- loving emanote so far as I'm porting over my zettelkasten from neuron. Just ran into the snag below.

**Describe the bug**

I have a neuron-style Zettelkasten in a subdirectory of an emanote site:

[code]

Often, when viewing one of the notes under `kasten/` the CSS for the inverted tree fails to load (see screenshot below).

This only occurs on the live server (should this be an ema iss

[2022-08-23 14:20] srid commented on #340
I can't reproduce this on my system (macOS; Brave browser). Is this happening only on Firefox?

Yea, this URL is wrong. Emanote should *never* be generating it (`_emanote-static` is a top-level route). On my system, I see:

<img width="510" alt="image" src="https://user-images.githubusercontent.com/3998/186182662-1d2340b5-b1c0-41cd-ac24-7b20f265c339.png">

[2022-08-23 18:58] wbadart commented on #340
It does seem to be FF-specific. Here's Chrome after following my own reproduction instructions:

<img width="1552" alt="Screen Shot 2022-08-23 at 11 53 21" src="https://user-images.githubusercontent.com/8717474/186240378-58be831e-48bf-4cbb-91e4-8f14dc74e688.png">

Something I didn't notice before is that FF seems to initially request the correct `inverted-tree.css`:

<img width="1552" alt="Screen

[2022-08-23 19:08] srid commented on #340
So this should be reported to Mozilla right?

Not sure what emanote can do here.

[2022-08-23 19:28] wbadart commented on #340
I mean, it could be a browser bug, in which case I'd be happy to report it upstream.

I just haven't convinced myself that it doesn't have to do with ema's live server. Again, it doesn't happen on the generated site, only on the live preview. Here's an example where the correct CSS is requested after an update (adding "hi" to the note), but the incorrect CSS is requested after saving the file with

[2022-08-23 19:31] srid commented on #340
Ema uses [morphdom](https://github.com/patrick-steele-idem/morphdom) to patch HTML. It could be a bug in morphdom, as morphdom is used only in live-server.

https://github.com/EmaApps/ema/blob/ddf0a92d9de8e06906dc5ada2dfc9a00a3153a7e/www/ema-shim.js#L9-L17

[2022-08-23 22:01] srid commented on #340
It would be great to get this addressed in the upcoming release (https://github.com/EmaApps/emanote/issues/153). Most don't seem to use Firefox, but a substantial number do I believe.

[2022-08-23 22:15] #305 closed, assigned to nobody

[2022-08-23 22:27] srid commented on #151
@dzackgarza That makes sense; done in df32b04.

[2022-08-24 16:12] srid opened #342 "Search links do not respect `urlStrategy` YAML config"
1. Go to https://emanote.srid.ca/
2. Hit Ctrl+K and search for `markdown`; navigate to the first result
3. It nativates to https://emanote.srid.ca/demo/markdown.html **instead of** https://emanote.srid.ca/demo/markdown

The latter link (sans `.html` suffix) is what we'd expect it to navigate to because docs use the pretty `urlStrategy`

https://github.com/EmaApps/emanote/blob/df32b04a1da1c1b1080a3

[2022-08-24 16:14] #342 closed, assigned to nobody

[2022-08-25 18:47] srid opened #344 "Fonts (headings; bold) are *too* thick in Safari"
<img width="917" alt="image" src="https://user-images.githubusercontent.com/3998/186744505-fd8b49f3-cab4-47be-8a6c-c47a8c54bcbd.png">

[2022-08-30 21:41] #344 closed, assigned to nobody

[2022-08-30 22:20] #125 closed, assigned to nobody

[2022-08-30 22:20] #151 closed, assigned to nobody

[2022-08-30 22:34] srid commented on #10
Documentation: https://emanote.srid.ca/guide/query

[2022-09-02 03:51] lua-vr commented on #340
Maybe this was fixed by https://github.com/EmaApps/ema/pull/139 (in `ema`)? The issue seems very similar.

[2022-09-02 18:22] srid commented on #340
@wbadart Could you try to reproduce this with 74bc63d067bf9971f73a228833c43fe8cb3c3bc4 ?

[2022-09-02 21:34] wbadart commented on #340
Trying to set up a quick dev shell with that particular commit, but I'm new to flakes and can't quite get it to click:

[code]

Can you please advise how to tweak this to get that fixed version into the dev shell? Thanks!

[2022-09-02 22:20] lua-vr commented on #340
@wbadart I don't use nix or emanote, but since the commit is in master, I think you can use the usual nix installation method (the one in the docs)?

[2022-09-02 22:34] srid commented on #340
Replace `???` with `buildInputs = [ emanote.packages.${system}.default ];`.

But you can also just run `nix run github:EmaApps/emanote`[^1] on your notebook directory.

[^1]: Or `nix run github:EmaApps/emanote/74bc63d067bf9971f73a228833c43fe8cb3c3bc4`

[2022-09-06 17:16] wbadart commented on #340
I can still reproduce in FF (running off of master with `nix run github:EmaApps/emanote` [thanks for the tip!]).

Poking around in the debugger, I confirmed that the correct `inverted-tree.css` during the initial page load. The initial page load is followed immediately by a websocket message with new HTML to patch in.

Before `setHtml`:

<img width="1552" alt="Screen Shot 2022-09-06 at 10 07 20" s

[2022-09-08 21:43] srid opened #346 "Stork assets must be cached locally"
This is kind of against Emanote's philosophy

<img width="830" alt="image" src="https://user-images.githubusercontent.com/3998/189231335-3dd3b86a-1f9d-4341-be56-87d639ee9f70.png">

[2022-09-09 14:43] kukimik opened #347 "Support regular Markdown links sans `.md` (or `.org`) extension"
**Describe the bug**
When I create a link of the form `[some text](path/to/existing/markdown/file)`, but without including the `.md` extension in the path (e.g. try adding `[neuron](guide/neuron)` to `docs/index.md`), it is rendered as a broken link, with the *backlinks* link (in the live server mode) leading to the actual `path/to/existing/markdown/file` page:

[code]

Tested at https://github.co

[2022-09-09 15:02] srid commented on #347
Emanote was not designed to support this in the first place. But since Obsidian allows it, I'm okay with Emanote doing it.

[2022-09-12 20:55] kukimik opened #349 "URIs contained in link description shouldn't be converted to separate hyperlinks"
**Describe the bug**

The following markdown:

[code]

is converted to the following HTML (at least in live mode):

[code]

**Expected behavior**
I'd expect the following result:

[code]

Arguably in the third example the current behavior makes some sense. But definitely not in the first two.

[2022-09-12 20:56] srid commented on #349
Shouldn't this be filed under https://github.com/jgm/commonmark-hs instead?

[2022-09-14 19:21] kukimik commented on #349
You're right. Reported upstream.

[2022-09-17 23:39] srid commented on #340
I can reproduce this on Firefox on macOS.

Your screenshots also match my observation.

Firefox bug with ignoring `<base>` when dynamically setting HTML?

Wait, but you said earlier "Moreover, the HTML on the page after `morphdom` completes also appears to be **correct**"? That's also my experience - in the browser inspector, the HTML *after* does use `<link rel="stylesheet" href="_emanote-static/

[2022-09-17 23:49] srid commented on #340
This change fixes it (by bypassing `<base>` lookup), but obviously it is not the correct fix because we *do* want all links to rely on `<base>` as Emanote site is not always served at domain root. I'm convinced that the issue is with Firefox not behaving correctly using `<base>`; but I'd also like to come up with at least a workaround because I don't think we can expect Mozilla to fix this in time

[2022-09-17 23:56] srid opened #350 "Support embedding PDF using regular Markdown syntax"
ie., `![](foo.pdf)` should also embed the PDF file like it does for images.

[This change](https://github.com/EmaApps/emanote/pull/341/commits/fd885e7eca81d81fb017eb24cd90cb095574785d) (made in #341, but reverted) functionally achieves it, but we want to do it in a simpler manner without overloading `Heist.Extra` with emanote-specific functions. `Heist.Extra` will eventually be made a library of i

[2022-09-21 21:10] kukimik commented on #349
The maintainer of `commonmark-hs` has responded. It looks like that fixing this upstream may not be entirely trivial. A suggested workaround is to walk through the AST and replace nested links. This doesn't look hard. Perhaps it can be implemented as an extra step in `Emanote.Pandoc.Markdown.Parser.parseMarkdown` (or maybe even included in some form in https://github.com/srid/commonmark-simple/blo

[2022-09-21 21:18] srid commented on #349
That sounds good to me, as long as we [add tests](https://srid.ca/haskell-template/tests).

[2022-09-23 19:32] #350 closed, assigned to nobody

[2022-09-24 21:04] wyattjsmith1 opened #352 "Tags declared in `path.yaml` attach to file, but not to entire tags system"
**Describe the bug**
Creating tags in a `.yaml` file creates the tag on the file, but the tag is not visible in the tags page, and clicking on the tag 404s.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a file tree like this:
[code]
Where `some_dir.yaml` has the following:
[code]
2. Generate and visit the `my_file.md` page.
3. Observe the tag `my_tag` exists on the page.
4. Click `m

[2022-09-26 20:58] srid commented on #346
`stork.js` is hardcoded to fetch from their site; this is bad

<img width="699" alt="image" src="https://user-images.githubusercontent.com/3998/192379151-177dbc5d-aacc-4030-8e9c-817e3e6798f8.png">

Upstream request: https://github.com/jameslittle230/stork/issues/317

[2022-09-26 22:04] #346 closed, assigned to nobody

[2022-10-09 20:33] srid commented on #24
@vcavallo Yes, we need to address it in a fundamental manner first: https://github.com/EmaApps/emanote/discussions/105

@kukimik Could you open a new issue?

[2022-10-09 20:35] srid commented on #24
I think we should also support source code embedding. For eg., `![[foo.hs]]` should include that as syntax highlighted code block. See also https://github.com/srid/neuron/issues/613 (not sure how that can be adopted for wiki links)

[2022-10-11 20:27] kukimik commented on #24
With the current version of emanote I can display the page. It looks like this:

![Peek 2022-10-11 22-10](https://user-images.githubusercontent.com/53443372/195189389-2710e2e3-8ec3-4be7-a89c-2a2bf4eb4262.gif)

It no longer loops indefinitely. (Or maybe it never did? I upgraded my hardware in the meantime; maybe I was just lacking resources - which however would mean the resource consumption was ex

[2022-10-18 00:50] srid opened #357 "Fix font flickering"
Not a problem with Github Pages but with most other hosts (eg: nginx on cloud), there is a perceptible font flickering on **every** page load.

https://en.wikipedia.org/wiki/Flash_of_unstyled_content

After talking to @toastal ... `font-display: swap;` is a place a look. The use of a (large) variable font might be a factor as well. Needs investigation and resolution.

[2022-10-18 02:17] toastal commented on #357
Consider using `src: local("My Font"), url("path/to/font/file/myvariablefont.woff2") format("woff2-variations")` with WOFF2 instead of TTF

[2022-10-23 10:15] kukimik opened #359 "bin/run fails: staticWhich: Could not find executable for "stork""
**Describe the bug**

When trying to build emanote (using bin/run or Ctrl+Shift+B in VSCode) i get:

[code]

This was introduced in [65dd75053674aaf4fc36c0ad689938c8d6158e2e.](https://github.com/EmaApps/emanote/commit/65dd75053674aaf4fc36c0ad689938c8d6158e2e).

**Desktop (please complete the following information):**
Linux 5.4.0-131-generic x86-64, Linux Mint 20.3

[2022-10-23 11:42] kukimik commented on #359
`nix --version` shows `nix (Nix) 2.9.1`, so I think I'm not using the latest release 2.11.1. Maybe this is my problem? But I can't even  figure how to upgrade it. (Sorry, I have no idea about nix.)

However, I have an excuse: [the readme](https://github.com/EmaApps/emanote#developing) says: `All but the final step need to be done only once.` and it does not mention upgrading.

[2022-10-23 13:59] srid commented on #359
When you add back `inherit (self'.packages) stork;` under `buildTools` does it work for you?

[2022-10-23 14:42] srid commented on #359
Oh looks like this happens only on Linux. Not on my macOS M1 ...

[2022-10-23 14:48] srid commented on #359
This is nothing to do with Nix version. The error comes from https://github.com/obsidiansystems/which/blob/develop/src/System/Which.hs#L21

But stork **should** be in PATH (do a `nix develop` and do `which stork` in it) such that `which` picks it up, especially after 944767a86152af3aab884e7c2ce5382c94162f33 - yet that error is still being thrown, but only on Linux. Strange.

[2022-10-23 18:06] kukimik commented on #359
I also tried restoring it locally and it didn't work.

But now, when I pulled https://github.com/EmaApps/emanote/commit/944767a86152af3aab884e7c2ce5382c94162f33, it works. :open_mouth:  Don't know, maybe something somewhere is using the master branch at github instead of the state of the local repo?

Anyway, it works now for me, so if you're not into solving this mystery, the issue can probably be

[2022-10-23 18:40] kukimik opened #360 "Footnotes and embedding: duplicate HTML element ids"
A note that both

* contains a footnote, and
* embeds another note, which also contains a footnote

will have two elements with the same id attribute in the resulting HTML, which is an error.

This happens because the footnotes numbering scheme does not depend on the note:

https://github.com/EmaApps/emanote/blob/944767a86152af3aab884e7c2ce5382c94162f33/default/templates/components/pandoc.tpl#L60

[2022-10-23 18:53] kukimik opened #362 "Cyclic note embedding"
**Describe the bug**
Embedding notes may create cycles:

some_note.md:

[code]

other_note.md:

[code]

**Screenshots**
The result (in live preview) looks like this:
![Peek 2022-10-11 22-10](https://user-images.githubusercontent.com/53443372/195189389-2710e2e3-8ec3-4be7-a89c-2a2bf4eb4262.gif)

**Expected behavior**
I think the cycle should be detected and the embedding should stop at this point, p

[2022-10-26 08:00] toastal opened #363 "Org Mode not having frontmatter is a feature, not a bug"
**Describe the bug**
I see a philosophical issue in this project to have metadata is handled by reading the section about [Org Mode](https://emanote.srid.ca/guide/orgmode).

[Org Mode provides metadata](https://orgmode.org/manual/Export-Settings.html)—as indicated by the “yet”. When you read the docs for [AsciiDoc](https://docs.asciidoctor.org/asciidoc/latest/document/metadata/) or [reStructuredTe

[2022-10-26 08:05] toastal commented on #74
I would include that fonts should be converted to WOFF2 (or future formats) for the web and no other format should be bothered with. Many fonts in `nixpkgs` do have the WOFF2 support.

Aside: I really wish this would be a separate level in `nixpkgs`. I would like to see `pkgs.fonts.roboto` and not `pkgs.roboto` or `pkgs.roboto-fonts`.

[2022-10-27 03:12] shalzz commented on #347
Any update on this? Links are broken when using zk with emanote as well.

[2022-10-29 15:17] srid commented on #357
I tried that with https://google-webfonts-helper.herokuapp.com/fonts/work-sans?subsets=latin - but variable fonts no longer work.

i.e., instead of:

<img width="566" alt="image" src="https://user-images.githubusercontent.com/3998/198839352-7f07fd3a-0327-4688-a980-b0df23e90f95.png">

I now see:

<img width="566" alt="image" src="https://user-images.githubusercontent.com/3998/198839364-65d9183a-3f8

[2022-10-29 15:40] toastal commented on #357
Which part? WOFF2 or local or flickering or font-display?
--
toastal ไข่ดาว | https://toast.al
PGP: 7944 74b7 d236 dab9 c9ef  e7f9 5cce 6f14 66d4 7c9e

[2022-10-29 16:23] srid commented on #357
#364 fixed it! Cause: preload URL was incorrect.

Would be nice if Emanote's link checker checked for these `href`'s too ...

[2022-10-29 16:23] #357 closed, assigned to nobody

[2022-10-29 16:43] #340 closed, assigned to nobody

[2022-10-29 16:49] srid commented on #359
Can't reproduce it anymore (on Linux). Closing.

[2022-10-29 16:49] #359 closed, assigned to nobody

[2022-10-29 16:50] srid commented on #347
@shalzz I welcome PRs.

[2022-10-29 19:42] srid commented on #363
Aside from the documentation change here, I do think the entire configuration can be revamped in a fashion it is not tied to YAML, but simply to some generic hierarchical structure.

[2022-10-29 19:43] #363 closed, assigned to nobody

[2022-10-29 19:55] srid commented on #336
Closing because of workaround

[2022-10-29 19:55] #336 closed, assigned to nobody

[2022-11-02 21:18] srid commented on #153
Emanote is feature-complete enough to make the initial release now.

[2022-11-03 14:10] srid commented on #153
Now on Hackage: https://hackage.haskell.org/package/emanote-0.8.0.0

I'd like to wait for a couple of things before making the blog post announcement:

- Add emanote to nixpkgs (perhaps @maralorn may be interested?)
- Add an example that shows how to use Emanote as a library to extend it (I have an idea for creating an invoice maker that uses Markdown tables and backlinks).

[2022-11-03 15:19] maralorn commented on #153
@srid What do you envision as "adding to nixpkgs"? We can just use `haskellPackages.emanote`, right?

But I will gladly enter myself as emanote maintainer and make sure that it builds.

[2022-11-03 15:23] srid commented on #153
Yea, and maybe a top-level alias as well, so `nix run nixpkgs#emanote` works.

The top-level flake.nix has just [4 overrides](https://github.com/EmaApps/emanote/blob/5aff99c616750ee23c28c0f6eb4f51d7c79a27f6/flake.nix#L37-L40) (disable tests, unmark broken) and emanote itself gets a build dependency on `pkgs.stork` (while [unmarking](https://github.com/EmaApps/emanote/blob/5aff99c616750ee23c28c0f6e

[2022-11-03 15:26] maralorn commented on #153
I can only start with that on our next haskell-updates run. I will ping back once the deed is done.

[2022-11-04 02:25] maralorn commented on #153
Adressed in nixos/nixpkgs#199442.

[2022-11-05 17:11] srid opened #368 "Timeline query dates are not vertically aligned"
From https://stream.srid.ca/

<img width="341" alt="image" src="https://user-images.githubusercontent.com/3998/200132578-ed78e95d-f41b-4ddf-9259-402ef9fa4627.png">

[2022-11-05 17:11] srid commented on #368
Shoud just use a monospace font?

[2022-11-08 02:24] oinoom opened #370 "Mermaid diagrams appear to be broken"
It appears that the mermaid diagrams at [this link](https://emanote.srid.ca/tips/js/mermaid) no longer render. I'm not blocking any javascript and am not sure what the cause could be. `mermaid.min.js` seems to load just fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://emanote.srid.ca/tips/js/mermaid

**Desktop (please complete the following information):**
 - Browser: Fire

[2022-11-08 02:27] srid commented on #370
[That sucks](https://srid.ca/nojs). Same behavior on Brave on macOS. We have to fix this for release. Could use some help here!

[2022-11-08 02:46] oinoom commented on #370
Unfortunately I can't promise any commitment, otherwise I would jump in. Hope to see it resolved soon, thanks for the attention.

[2022-11-08 21:45] kukimik commented on #370
For what it's worth, swapping the order of the following two lines in the frontmatter:

[code]

fixes the problem for me. If you see this as a valid fix, this should probably be described in the docs.

[2022-11-10 17:50] srid commented on #370
Doesn't look like that (929759feb5c0c1e88efeb32c20fcd1a8d098cf4c) resolved it.

[2022-11-10 17:58] srid commented on #153
Pending https://github.com/NixOS/nixpkgs/pull/199424

Meanwhile, `nix run github:nixos/nixpkgs/haskell-updates#emanote`

[2022-11-11 10:23] kukimik commented on #370
Hmm, it must have been a coincidence then. Sorry.

Why are we using `startOnLoad: false` and a custom call to  `mermaid.init`? Does it have to do with live preview mode?

Running `mermaid.init(undefined,document.querySelectorAll(".mermaid"));` (at https://emanote.srid.ca/tips/js/mermaid) manually from the browser console after the page has loaded displays the diagrams.

[2022-11-11 14:47] srid commented on #370
No idea, TBH (I should have added a comment!). It was added in https://github.com/EmaApps/emanote/commit/75eab9ca10120e9c59d1ffbac7aa72268579cd9c

Let's change it to something that works.

[2022-11-12 17:50] srid commented on #370
https://ema.srid.ca/guide/site is also broken, as a result.

[2022-11-12 17:51] srid commented on #370
Maybe we should stop relying on CDN, and include the mermaid JS assets locally under https://github.com/EmaApps/emanote/tree/master/default/_emanote-static

[2022-11-12 19:17] #136 closed, assigned to nobody

[2022-11-12 19:40] srid opened #372 "Commonmark attributes parser is broken"
Regression with a commonmark library?

From https://emanote.srid.ca/guide/query

<img width="595" alt="image" src="https://user-images.githubusercontent.com/3998/201491676-9508db92-aeed-4b40-af46-8aaa0edfb886.png">

[2022-11-12 19:43] srid commented on #372
https://hackage.haskell.org/package/commonmark-extensions-0.2.3.3/changelog was released with https://github.com/jgm/commonmark-hs/commit/db528aa7b90edf4de84630f149cdc0dcbe396555

[2022-11-12 19:47] srid commented on #370
Fixed: https://emanote.srid.ca/tips/js/mermaid

by #371

[2022-11-12 19:47] #370 closed, assigned to nobody

[2022-11-13 00:40] srid commented on #289
https://github.com/EmaApps/emanote/blob/master/CHANGELOG.md

[2022-11-13 00:40] #289 closed, assigned to srid

[2022-11-13 01:44] srid opened #374 "Deemphasize external link icons"
After having deployed a few sites with the new emanote, I realized that I find the external link icons (https://emanote.srid.ca/guide/html-template/external-links) a bit distracting. We should de-emphasize it somehow. Maybe by reducing the icon size.

[2022-11-19 13:38] precompute opened #380 "New site can't be initialized with Index.org"
## **Describe the bug**

A new emanote website can't be init with an `index.org` file, but an `index.md` file works.

## **To Reproduce**

Make a new (empty) folder, run `emanote run`.

Then make an `index.org` file.

The following error occurs:

[code]

Using an `index.md` file works without any errors.

[2022-11-19 14:00] precompute commented on #380
This issue is also present when creating the "example.org" file for a folder named "example" (or similar).

**Steps to Reproduce**

[code]

`.md` works as expected.

[2022-11-19 18:48] srid commented on #380
@t-e-r-m I can only reproduce the bug with `index.org`.

`example.org` works fine for me.

[2022-11-19 18:50] srid commented on #380
Getting rid of https://github.com/EmaApps/emanote/blob/master/default/index.md from the default layer will resolve this, but that's not really a solution because emanote assumes the default index note always exists:

[code]

[2022-11-19 18:57] srid commented on #380
@t-e-r-m You can try this patch for now, though a proper fix needs to be thought of carefully to resolve this in `master`.

[code]

[2022-11-19 23:27] srid opened #381 "Review licensing"
https://github.com/EmaApps/emanote/discussions/373

[2022-11-20 03:08] tars0x9752 opened #382 "When using live server, ctrl + click on any internal link does not open in new tab"
**Describe the bug**

When using live server, `ctrl + click` on any internal link does not open in new tab. I think this is caused by ema instead of emanote, but I'm posting this here because I've faced this problem while using emanote.

I guess the click event is intercepted by the embedded JS code, which is probably where "`ctrl + click` to open in new tab" is disabled.

BTW I'm not having that

[2022-11-20 16:25] srid commented on #382
I cannot reproduce this on macOS (where it is <kbd>Cmd+Click</kbd>), both on Brave and Firefox.

Either your issue is Linux or Windows only (can somebody else confirm?), or something unique to your environment (browser extensions getting in the way?).

[2022-11-20 22:58] #382 closed, assigned to nobody

[2022-11-22 10:09] precompute commented on #380
Thank you for the patch.

[2022-11-22 10:21] precompute opened #384 "Live server and generated website use different tailwind colors"
**Describe the bug**

The live server and the generated website use different colors from tailwind.

reference: https://tailwindcss.com/docs/customizing-colors

|  | color | hash|
| --- | --- | --- |
| server | emerald | #d1fae5|
| generated | green | #dcfce7|

|  | color | hash|
| --- | --- | --- |
| server | amber | #fffbeb|
| generated | yellow | #fefce8|

Specifying "green" in the yaml file ma

[2022-11-22 10:49] precompute commented on #384
Oh, I guess this is a discrepancy between tailwind versions.  https://v2.tailwindcss.com/docs/customizing-colors says green=emerald and yellow=amber, but now these are different colors.

Specifying Emerald / Amber in the YAML breaks styling in the live server (no colors (white) or something else), but the generated website uses Emerald / Amber correctly.

[2022-11-23 16:40] precompute commented on #384
A hacky workaround for this is to add the following to `templates/hooks/more-head.tpl`:

[code]

[2022-11-23 17:36] srid commented on #384
Properly solving this (and #118) will require support for compiling Tailwind on the fly in live server of Ema: https://github.com/EmaApps/ema/issues/20

In the interim, perhaps we can allow disabling compiling Tailwind (so CDN is used) during static generation, e.g.: `emanote gen --no-tailwind-compile ...`. Or it can be specified in `index.yaml`.

https://github.com/EmaApps/emanote/blob/3300092d40

[2022-11-25 12:33] kukimik commented on #374
In https://github.com/EmaApps/emanote/pull/189#issuecomment-962487499 you suggested to use gray instead of the theme color to de-emphasize the icons. But I'm not sure if this really works. We introduce a new color for the icon (even if it is gray) for a single object in the middle of the text. Try using the gray color theme. In my opinion gray icons + gray color theme are less distracting than gra

[2022-11-25 22:31] kukimik commented on #374
To be clear: this is not a proposed solution to the problem. I just wanted to illustrate that introducing an extra color may be distracting.

[2022-11-25 22:46] srid commented on #374
Yea, that's a fair point. I haven't gotten a chance to look at this yet ...

[2022-11-27 17:19] srid commented on #374
How do we properly reduce the icon size? Changing the `height` property of svg works, but it lowers the icon itself (making it no longer a superscript).
<img width="328" alt="image" src="https://user-images.githubusercontent.com/3998/204150143-8ae35b83-801a-4c59-bf45-100469f7d671.png">

[2022-11-27 17:21] srid commented on #374
@kukimik Where did you get the value of the `d` attribute from?

https://github.com/EmaApps/emanote/blob/3300092d40c9092e33a6b22e53a30a2a82796138/default/templates/base.tpl#L55

[2022-11-27 18:24] #374 closed, assigned to nobody

[2022-11-27 20:09] #368 closed, assigned to nobody

[2022-11-27 20:58] srid opened #386 "Creating a new `.org` file doesn't display the `.md` placeholder folder route"
This is the core subset of the #380.

Because `ancestorPlaceholderNote` uses `defaultLmlRoute` which in turn is hardcoded to use Markdown route.

So, when the user adds a `folderName.org` file, the previously added `folderName.md` placeholder is not removed, leading to ambiguous route error.

[2022-11-27 21:20] srid commented on #380
Should be resolved in #387 once it is merged; please re-open if the problem still occurs.

[2022-11-27 21:21] #380 closed, assigned to nobody

[2022-11-27 21:21] #386 closed, assigned to nobody

[2022-11-27 22:08] srid commented on #381
https://github.com/EmaApps/emanote/commit/24ca8d95ac2aec8a02a128382081ac076451d018

[2022-11-27 22:08] #381 closed, assigned to nobody

[2022-11-27 22:09] srid commented on #153
https://github.com/EmaApps/emanote/issues/372 is the main issue left to resolve before final release.

[2022-11-28 00:08] srid commented on #360
Related #110

[2022-11-28 00:13] srid commented on #152
we have this now

[2022-11-28 00:13] #152 closed, assigned to nobody

[2022-11-28 01:15] srid opened #388 "Add nix-darwin module"
Like home-manager module (which requires Linux) but should work on nix-darwin:

[code]

Eventually, change the home-manager module to work on both Linux and macOS.

[2022-11-30 23:14] srid commented on #295
h/t @Kranzes

[code]